<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorate="admin-layout">

    <div layout:fragment = "main_content">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!-- Main content -->

            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>  User Management</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Users</a></li>
                                <li class="breadcrumb-item active">Add Module</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>



            <!-- Main content -->
            <section class="content">

                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title"  th:text="${submodule.id == null ? 'Create SubModule' : 'Edit SubModule'}">Add Sub Module</h3>
                        <div class="card-tools">
                            <!-- Buttons, labels, and many other things can be placed here! -->
                            <!-- Here is a label for example -->
                            <a th:href="@{/submodules/list}" type="button" class="btn btn-block btn-light text-red  btn-sm pull-right "> Close </i><i class="fas fa-times"></i></a>
                        </div>
                    </div>

                    <div class="card-body ">

                        <div class="container mt-4">
                            <div th:if="${success}" class="alert alert-success" th:text="${success}"></div>
                            <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

                            <form th:action="@{/submodules/save}"
                                  th:object="${submodule}" method="post">

                                <div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger">
                                    <ul class="mb-0">
                                        <li th:each="err : ${#fields.errors('*')}"
                                            th:text="${err}"></li>
                                    </ul>
                                </div>

                                <input type="hidden" th:field="*{id}">
                                <input type="hidden" th:field="*{slug}">
                                <input type="hidden" th:field="*{version}">

                                <div class="mb-3">
                                    <label class="form-label">Module</label>
                                    <select class="form-select form-control" th:field="*{modules.id}">
                                        <option value="">Select Module</option>
                                        <option th:each="m : ${modules}" th:value="${m.id}" th:text="${m.name}"></option>
                                    </select>
                                    <div class="text-danger" th:errors="*{modules}"></div>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Name</label>
                                    <input class="form-control" th:field="*{name}">
                                    <div class="text-danger" th:errors="*{name}"></div>
                                </div>

                                <!--                                <div class="mb-3">
                                                                    <label class="form-label">Slug</label>
                                                                    <input class="form-control" th:field="*{slug}">
                                                                    <div class="text-danger" th:errors="*{slug}"></div>
                                                                </div>-->

                                <button class="btn btn-success">Save</button>
                                <a href="/submodules" class="btn btn-secondary">Back</a>
                            </form>
                        </div>

                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>
</div>