<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorate="admin-layout">
    <div layout:fragment = "main_content">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->


            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>   Training</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">  Training</a></li>
                                <li class="breadcrumb-item active"> Report </li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <!-- Default card -->
                <div class="col-sm-12">
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Report List</h3>

                            <div class="card-tools pull-right">
                                <div class="btn-group">

                                </div>
                            </div>
                        </div>
                        <div class="card-body row">
                            <div class="col-sm-6">
                                <a  th:href="@{/trainingreport/livelihood_training_report_by_skill}" type="button" class="btn btn-block btn-info"> Life Skill/Universal Training Report</a>
                                <!--                                <a  th:href="@{/trainingreport/livelihood_training_report_by_mother}" type="button" class="btn btn-block btn-info">  Training Report By Mother </a>-->
                                <a  th:href="@{/trainingreport/iga_training_report_by_skill}" type="button" class="btn btn-block btn-info"> IGA Training Report</a>
                                <!--                                <a  th:href="@{/trainingreport/iga_training_report_by_mother}" type="button" class="btn btn-block btn-info"> IGA Training Report By Mother </a>-->
                                <a  th:href="@{/trainingreport/swimming_report}" type="button" class="btn btn-block btn-info"> Swim Safe Lesson Report </a>
                            </div>
                        </div></div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>
</div>