<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorator="admin-layout">

    <div layout:fragment = "main_content">

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Observation 
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Induction Mother List </h3>
                                <a   th:href="@{/induction/create/{id}(id=${m_id})}" type="button" class="btn  btn-warning pull-right"> Add Induction </a>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <table class="table table-bordered">
                                    <tr>
                                        <th style="width: 10px">#</th>  
                                        <th>Edit</th>
                                        <th>Delete</th>
                                        <th>Mother Master Code</th>
                                        <th>Induction Start Date </th>
                                        <th> Induction End Date</th>
                                        <th> Immediate Support On</th>
                                         <th> Challenges of Beneficiary</th>
                                          <th> Possible length of staying at SPP </th>
                                         <th>Remark</th>
                                    </tr>                          
                                    <tr th:each="list,status:${o_Induction}">
                                        <td th:text="${status.count}">2.</td>
                                        <td><a   th:href="@{/induction/edit/{id} (id=${list.id})}" type="button" class="btn btn-xs bg-maroon ">Edit</a></td>
                                        <td> <a   th:href="@{/induction/delete/{id} (id=${list.id})}" type="button" class="btn btn-xs bg-maroon ">Delete</a></td>
                                        <td th:text="${list.motherMasterCode.motherMasterCode}">Chakma</td>
                                        <td th:text="${list.startDate}">Chakma</td>
                                        <td th:text="${list.endDate}">Chakma</td>
                                        <td th:text="${list.immediateSupportOn}">Chakma</td>
                                        <td th:text="${list.challagesOfCandidare}">Chakma</td>                                 
                                        <td th:text="${list.possibleLength}">Chakma</td>
                                        <td th:text="${list.remark}">Chakma</td>
                                    </tr>
                                </table>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer clearfix">

                            </div>
                        </div>
                        <!-- /.box -->

                    </div>
                    <!-- /.col -->

                    <!-- /.col -->
                </div>
                     <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title"> In House Induction Mother List </h3>
                                <a   th:href="@{/inhouseinductionmother/create/{id}(id=${m_id})}" type="button" class="btn  btn-warning pull-right"> Add In House Induction Mother </a>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <table class="table table-bordered">
                                    <tr>
                                        <th style="width: 10px">#</th>  
                                        <th>Edit</th>
                                        <th>Delete</th>
                                        <th>Mother Master Code</th>
                                        <th>Overall Behavior</th>
                                        <th> Advocate Feedback</th>
                                        <th> Beneficiary Opinion </th>
                                        <th>Remark</th>
                                    </tr>                          
                                    <tr th:each="list2,status:${o_Inhouse_Inductions_Mother}">
                                        <td th:text="${status.count}">2.</td>
                                        <td><a   th:href="@{/inhouseinductionmother/edit/{id} (id=${list2.id})}" type="button" class="btn btn-xs bg-maroon ">Edit</a></td>
                                        <td> <a   th:href="@{/inhouseinductionmother/delete/{id} (id=${list2.id})}" type="button" class="btn btn-xs bg-maroon ">Delete</a></td>
                                        <td th:text="${list2.motherMasterCode.motherMasterCode}">Chakma</td>
                                        <td th:text="${list2.overallBehavior}">Chakma</td>
                                        <td th:text="${list2.advocateFeedback}">Chakma</td>
                                        <td th:text="${list2.beneficiaryOpinion}">Chakma</td>
                                        <td th:text="${list2.remarks}">Chakma</td>
                                    </tr>
                                </table>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer clearfix">

                            </div>
                        </div>
                        <!-- /.box -->

                    </div>
                    <!-- /.col -->

                    <!-- /.col -->
                </div>
                  <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title"> In House Induction Children List </h3>
                                <a   th:href="@{/inhouseinductionchild/create/{id}(id=${m_id})}" type="button" class="btn  btn-warning pull-right"> Add In House Induction Children </a>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <table class="table table-bordered">
                                    <tr>
                                        <th style="width: 10px">#</th>  
                                        <th>Edit</th>
                                        <th>Delete</th>
                                         <th>Mother Master Code</th>
                                         <th>Child Master Code</th>
                                        <th>Overall Behavior</th>
                                        <th> Advocate Feedback</th>
                                        <th> Beneficiary Opinion </th>
                                        <th>Remark</th>
                                       
                                    </tr>                          
                                    <tr th:each="list3,status:${o_Inhouse_Inductions_child}">
                                        <td th:text="${status.count}">2.</td>
                                        <td><a   th:href="@{/inhouseinductionchild/edit/{id} (id=${list3.id})}" type="button" class="btn btn-xs bg-maroon ">Edit</a></td>
                                        <td> <a   th:href="@{/inhouseinductionchild/delete/{id} (id=${list3.id})}" type="button" class="btn btn-xs bg-maroon ">Delete</a></td>
                                        <td th:text="${list3.motherMasterCode.motherMasterCode}">Chakma</td>
                                          <td th:text="${list3.childMasterCode.childMasterCode}">Chakma</td>
                                        <td th:text="${list3.overallBehavior}">Chakma</td>
                                        <td th:text="${list3.advocateFeedback}">Chakma</td>
                                        <td th:text="${list3.beneficiaryOpinion}">Chakma</td>
                          
                                        <td th:text="${list3.remarks}">Chakma</td>
                                    </tr>
                                </table>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer clearfix">

                            </div>
                        </div>
                        <!-- /.box -->

                    </div>
                    <!-- /.col -->

                    <!-- /.col -->
                </div>

            </section>
            <!-- /.content -->
        </div>
    </div>
</div>