<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorate="admin-layout">
    <div layout:fragment = "main_content">
        <!-- Content Wrapper. Contains page content -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-5">
                            <h1>Psychological and Therapy Support</h1>
                        </div>
                        <div class="col-sm-7">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Psychological and Therapy Support</a></li>
                                <li class="breadcrumb-item active">Mother List For Professional Observations </li>
                                <li class="breadcrumb-item active">P. Observations by Mother </li>
                                <li class="breadcrumb-item active">Add Child P. Observations</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>
            <!-- Main content -->
            <section class="content">
                <!-- Default card -->
                <div class="card card-info">
                    <div class="card-header with-border">
                        <h3 class="card-title"> Add Child Professional Observations</h3>
                        <div class="card-tools pull-right">
                            <div class="btn-group">                 
                                <a  th:href="@{/professionalobserbations/index/{id}(id=${o_Professional_Obserbations_Child.motherMasterCode.id})}"  type="button" class="btn  btn-light text-red btn-sm">Close</a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <form  th:action="@{/opobserbationschild/save/{id}(id=${o_Professional_Obserbations_Child.motherMasterCode.id})}"  th:object="${o_Professional_Obserbations_Child}"  method="post" class="form-horizontal">

                            <input type="hidden"    class="form-control " th:field="*{id}"  />    

                            <input type="hidden"    class="form-control " th:field="*{motherMasterCode}"  id="motherMasterCode"  name="motherMasterCode"  th:value="motherMasterCode"/>     

                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('motherMasterCode')}" th:errors="*{motherMasterCode}">First Name Error</span>

                            <div class="card-body">


                                <div class="row">
                                    <div class="form-group col-sm-4 row">
                                        <label for="name" class="col-sm-6 control-label"> Children Id<span class="text-red">  </span> </label>

                                        <div class="col-sm-6">   
                                            <select class="form-control  "   th:field="*{childMasterCode}"  >
                                                <option value=" "> Select one</option>
                                                <option th:each =" childList :${childList}"
                                                        th:value=" ${childList.id}" 
                                                        th:text="${childList.childMasterCode}"> Select one</option>
                                            </select>
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('childMasterCode')}" th:errors="*{childMasterCode}">First Name Error</span>
                                        </div>    
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="form-group col-sm-6 row">
                                        <label for="co" class="col-sm-5 control-label"> Induction Start Date  <span class="text-red"> * </span> </label>
                                        <div class="col-sm-5">       
                                            <input type="text"  class="form-control  "   th:field="*{inductionStartDate}" />            
                                            <span  class="help-block has-error text-red"  th:if="${#fields.hasErrors('inductionStartDate')}" th:errors="*{inductionStartDate}">First Name Error</span>
                                        </div>     
                                    </div>    

                                    <div class="form-group col-sm-6 row">
                                        <label for="name" class="col-sm-4 control-label"> OB Start Date   <span class="text-red"> * </span> </label>
                                        <div class="col-sm-8">    
                                            <div class="input-group date" >
                                                <input type="text"   placeholder="dd/mm/yyyy" class="form-control  referral_date " th:field="*{obStartDate}"  id="referral_date"   />                
                                            </div>  
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('obStartDate')}" th:errors="*{obStartDate}">First Name Error</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-sm-4 row">
                                        <label for="name" class="col-sm-6 control-label"> Physical Disability<span class="text-red"> * </span> </label>

                                        <div class="col-sm-6">   
                                            <select class="form-control  "   th:field="*{physicalDisability}"  >
                                                <option value=" "> Select one</option>
                                                <option th:each =" physicalDisability :${physicalDisability}"
                                                        th:value=" ${physicalDisability}" 
                                                        th:text="${physicalDisability}"> Select one</option>
                                            </select>
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('physicalDisability')}" th:errors="*{physicalDisability}">First Name Error</span>
                                        </div>    
                                    </div>

                                    <div class="form-group col-sm-8 row">
                                        <label for="name" class="col-sm-4 control-label"> Physical Disability Note <span class="text-red">  </span> </label>
                                        <div class="col-sm-8">                   
                                            <textarea type="textarea" cols="60" rows="8" class="form-control  "  id="monthlyTotalIncome"    th:field="*{physicalDisabilityNote}" > </textarea>         
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('physicalDisabilityNote')}" th:errors="*{physicalDisabilityNote}">First Name Error</span>
                                        </div>                            
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-4 row">
                                        <label for="name" class="col-sm-6 control-label"> Therapy<span class="text-red"> * </span> </label>

                                        <div class="col-sm-6">   
                                            <select class="form-control  "   th:field="*{therapy}"  >
                                                <option value=" "> Select one</option>
                                                <option th:each =" therapy :${therapy}"
                                                        th:value=" ${therapy}" 
                                                        th:text="${therapy}"> Select one</option>
                                            </select>
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('therapy')}" th:errors="*{therapy}">First Name Error</span>
                                        </div>    
                                    </div>

                                    <div class="form-group col-sm-8 row">
                                        <label for="name" class="col-sm-4 control-label"> Therapy Note <span class="text-red">  </span> </label>
                                        <div class="col-sm-8">                   
                                            <textarea type="textarea" cols="60" rows="8" class="form-control  "  id="monthlyTotalIncome"    th:field="*{therapyNote}" > </textarea>         
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('therapyNote')}" th:errors="*{therapyNote}">First Name Error</span>
                                        </div>                            
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-4 row">
                                        <label for="name" class="col-sm-6 control-label"> ADL Performance<span class="text-red"> * </span> </label>

                                        <div class="col-sm-6">   
                                            <select class="form-control  "   th:field="*{adlPerformance}"  >
                                                <option value=" "> Select one</option>
                                                <option th:each =" adlPerformance :${adlPerformance}"
                                                        th:value=" ${adlPerformance}" 
                                                        th:text="${adlPerformance}"> Select one</option>
                                            </select>
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('adlPerformance')}" th:errors="*{adlPerformance}">First Name Error</span>
                                        </div>    
                                    </div>

                                    <div class="form-group col-sm-8 row">
                                        <label for="name" class="col-sm-4 control-label"> ADL Performance Note<span class="text-red">  </span> </label>
                                        <div class="col-sm-8">                   
                                            <textarea type="textarea" cols="60" rows="8" class="form-control  "  id="monthlyTotalIncome"    th:field="*{adlPerformanceNote}" > </textarea>         
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('adlPerformanceNote')}" th:errors="*{adlPerformanceNote}">First Name Error</span>
                                        </div>                            
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-7 row">
                                        <label for="name" class="col-sm-6 control-label"> Psychological assessment  Needs<span class="text-red"> * </span> </label>

                                        <div class="col-sm-3">   
                                            <select class="form-control  "   th:field="*{psychocialAssesmentNeeds}"  >
                                                <option value=" "> Select one</option>
                                                <option th:each =" psychocialAssesmentNeeds :${psychocialAssesmentNeeds}"
                                                        th:value=" ${psychocialAssesmentNeeds}" 
                                                        th:text="${psychocialAssesmentNeeds}"> Select one</option>
                                            </select>
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('psychocialAssesmentNeeds')}" th:errors="*{psychocialAssesmentNeeds}">First Name Error</span>
                                        </div>    
                                    </div>

                                </div>

                                <div class="row">


                                    <div class="form-group col-sm-12 row">
                                        <label for="name" class="col-sm-3 control-label"> Psychological assessment  Note<span class="text-red">  </span> </label>
                                        <div class="col-sm-6">                   
                                            <textarea type="textarea" cols="60" rows="8" class="form-control  "  id="monthlyTotalIncome"    th:field="*{psychocialAssesmentNeedsNote}" > </textarea>         
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('psychocialAssesmentNeedsNote')}" th:errors="*{psychocialAssesmentNeedsNote}">First Name Error</span>
                                        </div>                            
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-sm-12 row">
                                        <label for="name" class="col-sm-2 control-label"> Remarks<span class="text-red">  </span> </label>
                                        <div class="col-sm-8">                   
                                            <textarea type="textarea" cols="60" rows="8" class="form-control  "  id="monthlyTotalIncome"    th:field="*{remarks}" > </textarea>         
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('remarks')}" th:errors="*{remarks}">First Name Error</span>
                                        </div>                            
                                    </div>
                                </div>                 

                                <div class="text-center">
                                    <button type="submit" class="btn btn-info">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <div class="card-tools pull-right">
                            <div class="btn-group">
                            </div>
                        </div>
                    </div>
                    <!-- /.card-footer-->
                </div>
                <!-- /.card -->

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>
</div>