<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorate="admin-layout">

    <div layout:fragment = "main_content">

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Clinic
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-info">
                            <div class="card-header with-border">
                                <h3 class="card-title">Referral List</h3>
                                <!--                                <a   th:href="@{/cvisit/create/{id}(id=${m_id})}" type="button" class="btn  btn-warning pull-right"> Add Daily Visit </a>-->
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body table-responsive ">
                                <table id="tablesdata" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th style="width: 10px">#</th>
                                            <th> Edit </th>      
                                            <th> Delete</th>  
                                            <th>Mother Master Code</th>
                                            <th>Mother Name</th>
                                            <th>Referral Date</th>
                                            <th>Referred  To  </th>
                                            <th>Reasons</th>
                                            <th>Remark</th>
                                            <th>Admission To Clinic</th>
                                        </tr>   
                                    </thead>
                                    <tbody>
                                        <tr th:each="referral,status:${referral}">                                
                                            <td th:text="${status.count}"> 2. </td>      
                                            <td><a th:href="@{/referral/edit/{id}(id=${referral.referralId})}" type="button" class="btn btn-sm btn-info"> Edit</a></td>
                                            <td><a th:href="@{/referral/delete/{id}(id=${referral.referralId})}" type="button" class="btn btn-sm btn-info"> Delete</a></td>
                                            <td th:text="${referral.motherMasterCode}">Chakma</td>
                                            <td th:text="${referral.motherName}">Chakma</td>
                                            <td th:text="${referral.referralDate}">Chakma</td>
                                            <td th:text="${referral.reffrredTo}">Chakma</td>
                                            <td th:text="${referral.reasons}">Chakma</td>
                                            <td th:text="${referral.remarks}">Chakma</td>
                                            <td><a th:href="@{/cadmission/create/{id}(id=${referral.motherMasterCodeId})}" type="button" class="btn btn-sm btn-info"> Admission To Clinic</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer clearfix">
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->

                    <!-- /.col -->
                </div>

            </section>
            <!-- /.content -->
        </div>
    </div>
</div>