<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorate="admin-layout">
    <div layout:fragment = "main_content">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Home Visit Report 

                </h1>

            </section>

            <!-- Main content -->
            <section class="content">
                <!-- Default card -->
                <div class="col-sm-6"> 
                    <div class="card card-primary col-sm-6">
                        <div class="card-header with-border">
                            <h3 class="card-title"> Clinic Report List</h3>

                            <div class="card-tools pull-right">
                                <div class="btn-group">

                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                             <a  th:href="@{/homevisitreport/homevisitlist}" type="button" class="btn btn-block btn-danger"> Daily Visit List</a>
                            <a  th:href="@{/homevisitreport/eligiblemothermlist}" type="button" class="btn btn-block btn-danger"> Admission Clinic</a>
                            <a  th:href="@{/homevisitreport/noteligiblemotherlist}" type="button" class="btn btn-block btn-danger"> Release  Clinic</a>
                            <a  th:href="@{/homevisitreport/approvemotherlist}" type="button" class="btn btn-block btn-danger"> Medical Camp </a>
                            </div>
                        <!-- /.card-body -->
                        <div class="card-footer">



                            <div class="card-tools pull-right">
                                <div class="btn-group">

                                </div>
                            </div>
                        </div>
                        <!-- /.card-footer-->
                    </div>


                </div>
                <div class="col-sm-6"> 
                    <div class="card card-info col-sm-6">
                        <div class="card-header with-border">
                            <h3 class="card-title">#</h3>

                            <div class="card-tools pull-right">
                                <div class="btn-group">

                                </div>
                            </div>
                        </div>
                        <div class="card-body">


                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <div class="card-tools pull-right">
                                <div class="btn-group">

                                </div>
                            </div>
                        </div>
                        <!-- /.card-footer-->
                    </div>


                </div>

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>
</div>