<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorate="admin-layout">

    <div layout:fragment = "main_content">

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->


            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1> Observation</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Observation</a></li>
                                <li class="breadcrumb-item active">Admitted Mother and Child </li>

                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card card-info">
                            <div class="card-header with-border">
                                <h3 class="card-title">Mother Admission </h3>
                                <div class="card-tools pull-right">
                                <a   th:href="@{/admission/create/{id}(id=${minfo})}" type="button" class="btn  btn-light text-info btn-sm pull-right"> Add</a>
                            </div>      </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <!-- 
                                <img  class="img-responsive" th:src="@{/files/amenakatun.jpg}"   />
                                <img  class="img-responsive" th:src="@{/images/google-ads.png}"/>
                                -->

                                <span th:text="${message}"></span>
                                <table class="table table-bordered">
                                    <tr>
                                        <th style="width: 10px">#</th> 
                                        <th>Edit</th>
                                        <th>Delete</th>
                                        <th> Id</th>
                                        <th>Mother Master Code</th>
                                        <th>Date Arrival</th>
                                        <th>Date Admission</th>
                                        <th>Remark</th>
                                    </tr>                          
                                    <tr th:each="o_MAddmission,status:${o_MAddmission}">
                                        <td th:text="${status.count}">2.</td>
                                        <td><a   th:href="@{/admission/edit/{id} (id=${o_MAddmission.id})}" type="button" class="btn btn-xs bg-maroon ">Edit</a></td>
                                        <td><a   th:href="@{/admission/delete/{id} (id=${o_MAddmission.id})}" type="button" class="btn btn-xs bg-maroon ">Delete</a></td>
                                        <td th:text="${o_MAddmission.id}">Chakma</td>
                                        <td th:text="${o_MAddmission.motherMasterCode.motherMasterCode}">Chakma</td>
                                        <td th:text="${o_MAddmission.dateArrival}">Chakma</td>
                                        <td th:text="${o_MAddmission.dateAdmission}">Chakma</td>
                                        <td th:text="${o_MAddmission.remarks}">Chakma</td>
                                    </tr>
                                </table>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer clearfix">

                            </div>
                        </div>
                        <!-- /.card -->
                        <div class="card card-info">
                            <div class="card-header with-border">
                                
                                <h3 class="card-title">Child Admission </h3>
                                <div class="card-tools pull-right">
                                <a   th:href="@{/childadmission/create/{m_id}(m_id=${minfo})}" type="button" class="btn  btn-light text-info btn-sm pull-right"> Add</a>
                            </div>    </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <!-- 
                                <img  class="img-responsive" th:src="@{/files/amenakatun.jpg}"   />
                                <img  class="img-responsive" th:src="@{/images/google-ads.png}"/>
                                -->

                                <span th:text="${message}"></span>
                                <table class="table table-bordered">
                                    <tr>
                                        <th style="width: 10px">#</th> 
                                        <th>Edit</th>
                                        <th>Delete</th>
                                        <th> Id</th>
                                        <th>Mother Master Code</th>
                                        <th>Child Master Code</th>
                                        <th>Date Arrival</th>
                                        <th>Date Admission</th>
                                        <th>Remark</th>
                                    </tr>                          
                                    <tr th:each="o_ChildAddmission,status:${o_ChildAddmission}">
                                        <td th:text="${status.count}">2.</td>
                                        <td><a   th:href="@{/childadmission/edit/{c_id} (c_id=${o_ChildAddmission.id})}" type="button" class="btn btn-xs bg-maroon ">edit</a></td>
                                        <td><a   th:href="@{/childadmission/delete/{c_id} (c_id=${o_ChildAddmission.id})}" type="button" class="btn btn-xs bg-maroon ">Delete</a></td>
                                        <td th:text="${o_ChildAddmission.id}">Chakma</td>
                                        <td th:text="${o_ChildAddmission.motherMasterCode.motherMasterCode}">Chakma</td>
                                        <td th:text="${o_ChildAddmission.childMasterCode.childMasterCode}">Chakma</td>
                                        <td th:text="${o_ChildAddmission.dateArrival}">Chakma</td>
                                        <td th:text="${o_ChildAddmission.dateAdmission}">Chakma</td>
                                        <td th:text="${o_ChildAddmission.remarks}">Chakma</td>
                                    </tr>
                                </table>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer clearfix">

                            </div>
                        </div>
                    </div>
                    <!-- /.col -->

                    <!-- /.col -->
                </div>
                <!--                <div class="row">
                
                                    <div class="col-sm-12">
                                        <div class="card card-primary">
                                            <div class="card-header with-border">
                                                <h3 class="card-title">Child Images </h3>
                                                <a   th:href="@{/admission/create/{id}(id=${minfo})}"  type="button" class="btn  btn-warning pull-right"> Add Child Image</a>
                                            </div>
                                             /.card-header 
                                            <div class="card-body">
                                                <table class="table table-bordered">
                                                    <tr>
                                                        <th style="width: 10px">#</th>  
                
                                                        <th>Add Details</th>
                                                        <th>Home Visit Date</th>
                                                        <th>  Id</th>
                                                        <th> Mother Name</th>
                                                        <th>Date of Birth</th>
                                                        <th>Number of Eligible Children</th>
                                                        <th>Status</th>
                                                    </tr>                          
                                                    <tr th:each="list,status:${list}">
                                                        <td th:text="${status.count}">2.</td>
                                                        <td> 
                                                            <a   th:href="@{/motherdetails/motherdetails/{id} (id=${list.id})}" type="button" class="btn btn-xs bg-maroon ">Add Details</a>
                                                        </td>
                                                        <td th:text="${list.homeVisitDate}">Chakma</td>
                                                        <td th:text="${list.motherMasterCode}">Chakma</td>
                                                        <td th:text="${list.motherName}">Chakma</td>
                                                        <td th:text="${list.dateOfBirth}">Chakma</td> 
                                                        <td th:text="${list.numberOfEligibleChildren}">Chakma</td>
                                                        <td th:text="${list.eligibility}">Chakma</td>
                                                    </tr>
                                                </table>
                                            </div>
                                             /.card-body 
                                            <div class="card-footer clearfix">
                
                                            </div>
                                        </div>
                                         /.card 
                                    </div>
                                     /.col 
                                     /.col 
                                </div>-->
            </section>
            <!-- /.content -->
        </div>
    </div>
</div>