<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorate="admin-layout">

    <div layout:fragment = "main_content">

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Observation
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Mother Image </h3>
                                <a   th:href="@{/admission/create/{id}(id=${minfo})}" type="button" class="btn  btn-warning pull-right"> Add Mother Image</a>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <!-- 
                                <img  class="img-responsive" th:src="@{/files/amenakatun.jpg}"   />
                                <img  class="img-responsive" th:src="@{/images/google-ads.png}"/>
                                -->

                                <span th:text="${message}"></span>
                                <table class="table table-bordered">
                                    <tr>
                                        <th style="width: 10px">#</th> 
                                        <th>Delete</th>
                                        <th> Id</th>
                                        <th>Mother Master Code</th>
                                        <th>Date Arrival</th>
                                        <th>Date Admission</th>
                                        <th>Pic</th>
                                        <th>Remark</th>
                                    </tr>                          
                                    <tr th:each="o_MAddmission,status:${o_MAddmission}">
                                        <td th:text="${status.count}">2.</td>
                                        <td><a   th:href="@{/admission/delete/{id} (id=${o_MAddmission.id})}" type="button" class="btn btn-xs bg-maroon ">Delete</a></td>
                                        <td th:text="${o_MAddmission.id}">Chakma</td>
                                        <td th:text="${o_MAddmission.motherMasterCode.motherMasterCode}">Chakma</td>
                                        <td th:text="${o_MAddmission.dateArrival}">Chakma</td>
                                        <td th:text="${o_MAddmission.dateAdmission}">Chakma</td>
                                        <td>
                                            <img  class="img-responsive" th:src="@{/files/}+${o_MAddmission.picName}" />
                                        </td> 
                                        <td th:text="${o_MAddmission.remarks}">Chakma</td>
                                    </tr>
                                </table>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer clearfix">

                            </div>
                        </div>
                        <!-- /.box -->

                    </div>
                    <!-- /.col -->

                    <!-- /.col -->
                </div>
                <!--                <div class="row">
                
                                    <div class="col-sm-12">
                                        <div class="box box-primary">
                                            <div class="box-header with-border">
                                                <h3 class="box-title">Child Images </h3>
                                                <a   th:href="@{/admission/create/{id}(id=${minfo})}"  type="button" class="btn  btn-warning pull-right"> Add Child Image</a>
                                            </div>
                                             /.box-header 
                                            <div class="box-body">
                                                <table class="table table-bordered">
                                                    <tr>
                                                        <th style="width: 10px">#</th>  
                
                                                        <th>Add Details</th>
                                                        <th>Home Visit Date</th>
                                                        <th>  Id</th>
                                                        <th> Mother Name</th>
                                                        <th>Date of Birth</th>
                                                        <th>Number of Eligible Children</th>
                                                        <th>Status</th>
                                                    </tr>                          
                                                    <tr th:each="list,status:${list}">
                                                        <td th:text="${status.count}">2.</td>
                                                        <td> 
                                                            <a   th:href="@{/motherdetails/motherdetails/{id} (id=${list.id})}" type="button" class="btn btn-xs bg-maroon ">Add Details</a>
                                                        </td>
                                                        <td th:text="${list.homeVisitDate}">Chakma</td>
                                                        <td th:text="${list.motherMasterCode}">Chakma</td>
                                                        <td th:text="${list.motherName}">Chakma</td>
                                                        <td th:text="${list.dateOfBirth}">Chakma</td> 
                                                        <td th:text="${list.numberOfEligibleChildren}">Chakma</td>
                                                        <td th:text="${list.eligibility}">Chakma</td>
                                                    </tr>
                                                </table>
                                            </div>
                                             /.box-body 
                                            <div class="box-footer clearfix">
                
                                            </div>
                                        </div>
                                         /.box 
                                    </div>
                                     /.col 
                                     /.col 
                                </div>-->
            </section>
            <!-- /.content -->
        </div>
    </div>
</div>