<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorate="admin-layout">

    <div layout:fragment = "main_content">

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>          Reintegration Check List </h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">        Reintegration Check List </a></li>
                                <li class="breadcrumb-item active"> Reintegration Check List  Details</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-info">
                            <div class="card-header with-border">
                                <h3 class="card-title">Mother Reintegration Check List  Details </h3>

                            </div>
                            <!-- /.card-header -->


                            <div class="card-body">


                                <table class="table table-bordered">
                                    <tr>
                                        <th> Date </th>
                                        <td> 
                                            <span th:text="${list.date}"> </span>
                                        </td>
                                        <td> <span > </span></td>
                                    </tr>  
                                    <tr>
                                        <th> Tentative date of reintegration </th>
                                        <td> 
                                            <span th:text="${list.tentativeDate}"> </span>

                                        </td>
                                        <td> <span > </span></td>
                                    </tr>
                                    <tr>
                                        <th> Reintegration employment  </th>
                                        <td> 
                                            <span th:text="${list.reintegrationEmployment}"> </span>
                                        </td>
                                        <td> <span > </span></td>
                                    </tr>
                                    <tr>
                                        <th> Address with phone number </th>
                                        <td> 
                                            <span th:text="${list.addresss}"> </span>

                                        </td>
                                        <td> <span > </span></td>
                                    </tr>
                                    <tr>
                                        <th> Individual rehabilitation planning :
                                        </th>
                                        <td> <span th:text="${list.individualRehabilitationPlanning}"> </span></td>
                                        <td> <span  th:text="${list.individualRehabilitationPlanningNote}"> </span></td>
                                    </tr>
                                    <tr>
                                        <th> Talk over mother with children /any comments /concerns from them on this stage * : </th>
                                        <td> <span th:text="${list.talkOverMother}"> </span></td>
                                        <td> <span > </span></td>
                                    </tr>
                                    <tr>
                                        <th> Amount of saving to be given when mother with children are released  </th>
                                        <td> <span th:text="${list.savingAmoun}"> </span></td>
                                        <td> <span > </span></td>
                                    </tr>
                                    <tr>
                                        <th> How saving will be used </th>
                                        <td> <span th:text="${list.savingUsed}"> </span></td>
                                        <td> <span > </span></td>
                                    </tr>
                                    <tr>
                                        <th> Others support taken by SPP </th>
                                        <td> <span th:text="${list.sppOtherSupport}"> </span></td>
                                        <td> <span > </span></td>
                                    </tr>
                                    <tr>
                                        <th> Financial Training Received </th>
                                        <td> <span th:text="${list.financialTrainingReceived}"> </span></td>
                                        <td> Note: <span th:text="${list.financialTrainingReceivedNote}"> </span></td>
                                    </tr>

                                    <tr>
                                        <th> Financial planning done </th>
                                        <td> <span th:text="${list.financialPlanningDone}"> </span></td>
                                        <td> Note: <span th:text="${list.financialPlanningDoneNote}"> </span></td>
                                    </tr>


                                    <tr>
                                        <th> Bank account opened </th>
                                        <td> <span th:text="${list.bankAccountOened}"> </span></td>
                                        <td> Note: <span th:text="${list.bankAccountOenedNote}"> </span></td>
                                    </tr>

                                    <tr>
                                        <th> Income generating training received </th>
                                        <td> <span th:text="${list.incomeGeneratingTrainingReceived}"> </span></td>
                                        <td> Note: <span th:text="${list.incomeGeneratingTrainingReceivedNote}"> </span></td>
                                    </tr>            <tr>
                                        <th> All necessary Skill Training received </th>
                                        <td> <span th:text="${list.allNecessarySkillTrainingReceived}"> </span></td>
                                        <td> Note: <span th:text="${list.allNecessarySkillTrainingReceivedNote}"> </span></td>
                                    </tr>            <tr>
                                        <th> Received Medical Documents </th>
                                        <td> <span th:text="${list.receivedMedicalDocuments}"> </span></td>
                                        <td> Note: <span th:text="${list.receivedMedicalDocumentsNote}"> </span></td>
                                    </tr>            <tr>
                                        <th> Pre-reintegration’s home visit (using related Ax. Form): </th>
                                        <td> <span th:text="${list.preReintegrationHomeVisit}"> </span></td>
                                        <td> Note: <span th:text="${list.preReintegrationHomeVisitNote}"> </span></td>
                                    </tr>            <tr>
                                        <th> Work site assessment </th>
                                        <td> <span th:text="${list.workSiteAssessment}"> </span></td>
                                        <td> Note: <span th:text="${list.workSiteAssessmentNote}"> </span></td>
                                    </tr>            <tr>
                                        <th> Health on discharge </th>
                                        <td> <span th:text="${list.healthOnDischarge}"> </span></td>
                                        <td> Note: <span th:text="${list.healthOnDischargeNote}"> </span></td>
                                    </tr>            <tr>
                                        <th> Ready to Reintegration/release </th>
                                        <td> <span th:text="${list.reintegration}"> </span></td>
                                        <td> </td>
                                    </tr>



                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
    </div>
</div>