<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorate="admin-layout">

    <div layout:fragment = "main_content">

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->

            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>          Reintegration Check List </h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">        Reintegration Check List </a></li>
                                <li class="breadcrumb-item active">Reintegration Checked complete List </li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>




            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-info">
                            <div class="card-header with-border">
                                <h3 class="card-title">Reintegration Checked complete List ( Total: <span th:text="${list.size()}"></span>) </h3>

                            </div>
                            <!-- /.card-header -->
                            <div class="card-body table-responsive ">
                                <table id="tablesdata" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th> Mother  Id</th>
                                            <th> Mother Name</th>

                                            <th>Date</th>
                                            <th>Tentative Date</th>
                                            <th>Ready to Reintegration/release</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                            <th>View</th>

                                        </tr> 
                                    </thead>
                                    <tbody>
                                        <tr th:each="list,status:${list}">

                                            <td th:text="${list.motherMasterCode}">Chakma</td>
                                            <td th:text="${list.motherName}">Chakma</td>                                      
                                            <td th:text="${list.date}" >Chakma</td>
                                            <td th:text="${list.tentativeDate}">Chakma</td>

                                            <td th:text="${list.reintegration}">Chakma</td>

                                            <td> 
                                                <a   th:href="@{/reintegrationcheklist/edit/{id} (id=${list.id})}" type="button" class="btn btn-sm btn-info">Edit</a>
                                            </td>
                                            <td> 
                                                <a   th:href="@{/reintegrationcheklist/delete/{id} (id=${list.id})}" type="button" class="btn btn-sm btn-info">Delete</a>

                                            </td>

                                            <td> 
                                                <a   th:href="@{/reintegrationcheklist/details/{m_id} (m_id=${list.motherMasterId})}" type="button" class="btn btn-sm btn-info">View</a>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer clearfix">

                            </div>
                        </div>
                        <!-- /.card -->

                    </div>
                    <!-- /.col -->

                    <!-- /.col -->
                </div>
            </section>
            <!-- /.content -->
        </div>
    </div>
</div>