<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorate="admin-layout">
    <div layout:fragment = "main_content">
        <!-- Content Wrapper. Contains page content -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->

            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Impact Measurement </h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Impact Measurement </a></li>
                                <li class="breadcrumb-item active"> New Long-term Impact on released families</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>


            <!-- Main content -->
            <section class="content">
                <!-- Default card -->
                <div class="card card-info">
                    <div class="card-header with-border">
                        <h3 class="card-title"> New Long-term Impact on released families</h3>
                        <div class="card-tools pull-right">
                            <div class="btn-group">                 
                                <a  th:href="@{/longtermimpactmeasurement/list}"   type="button" class="btn btn-block btn-light text-red  btn-sm pull-right "> Close <i class="fas fa-times"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">

                        <form  th:action="@{/longtermimpactmeasurement/save}"  th:object="${longTermImpactMeasurement}"  method="post" class="form-horizontal">

                            <div class="alert alert-danger alert-dismissible" th:if="${#fields.hasErrors('*')}">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <h4><i class="icon fa fa-ban"></i> Error </h4>
                                <ul th:if="${#fields.hasErrors('*')}">
                                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                                </ul>
                            </div>

                            <div class="row">
                                <input type="hidden"    class="form-control " th:field="*{id}" />
                                <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('id')}" th:errors="*{id}">First Name Error</span>
                            </div> 


                            <div class="form-group col-sm-6 row">
                                <label for="name" class="col-sm-6 control-label"> Release Mother Id <span class="text-red">  </span> :</label>
                                <div class="col-sm-6">                   
                                    <select class="form-control  "   id="select2" th:field="*{releaseMotherId}"  >
                                        <option value=" "> Select one</option>
                                        <option th:each =" releaseMotherids :${releaseMotherid}"
                                                th:value=" ${releaseMotherids.id }" 
                                                th:text="${releaseMotherids.motherMasterCode}"> Select one</option>
                                    </select>
                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('releaseMotherId')}" th:errors="*{releaseMotherId}">First Name Error</span>
                                </div>                            
                            </div>
                            <div class="form-group col-sm-6 row">
                                <label for="name" class="col-sm-6 control-label"> Present income source <span class="text-red">  </span> :</label>
                                <div class="col-sm-6">                   
                                    <select class="form-control  "  id="bookName"  th:field="*{presentIncomeSource}"  >
                                        <option value=" "> Select one</option>
                                        <option th:each =" presentIncomeSource :${presentIncomeSource}"
                                                th:value=" ${presentIncomeSource }" 
                                                th:text="${presentIncomeSource }"> Select one</option>
                                    </select>
                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('presentIncomeSource')}" th:errors="*{presentIncomeSource}">First Name Error</span>
                                </div>                            
                            </div>

                            <div class="form-group col-sm-6 row">
                                <label for="name" class="col-sm-6 control-label"> Monthly Income- Amount <span class="text-red">  </span> :</label>
                                <div class="col-sm-6">                   
                                    <input  class="form-control  "  id="bookName"  th:field="*{monthlyIncomeAmount}"  >
                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('monthlyIncomeAmount')}" th:errors="*{monthlyIncomeAmount}">First Name Error</span>
                                </div>                            
                            </div>


                            <div class="form-group col-sm-6 row">
                                <label for="name" class="col-sm-6 control-label"> Monthly expenditure- Amount<span class="text-red">  </span> :</label>
                                <div class="col-sm-6">                   
                                    <input class="form-control  "  id="bookName"  th:field="*{monthlyExpenditureAmount}"  >
                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('monthlyExpenditureAmount')}" th:errors="*{monthlyExpenditureAmount}">First Name Error</span>
                                </div>                            
                            </div>

                            <div class="form-group col-sm-6 row">
                                <label for="name" class="col-sm-6 control-label">Savings (if any) - Amount<span class="text-red">  </span> :</label>
                                <div class="col-sm-6">                   
                                    <input class="form-control  "  id="bookName"  th:field="*{savingsAmount}"  >
                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('savingsAmount')}" th:errors="*{savingsAmount}">First Name Error</span>
                                </div>                            
                            </div>

                            <div class="form-group col-sm-6 row">
                                <label for="name" class="col-sm-6 control-label"> Shelter Status<span class="text-red">  </span> :</label>
                                <div class="col-sm-6">                   
                                    <select class="form-control  "  id="bookName"  th:field="*{shelterStatus}"  >
                                        <option value=" "> Select one</option>
                                        <option th:each =" housetypes :${housetype}"
                                                th:value=" ${housetypes.id }" 
                                                th:text="${housetypes.name }"> Select one</option>
                                        <option th:each =" ownershiftypes :${ownershiftype}"
                                                th:value=" ${ownershiftypes.id }" 
                                                th:text="${ownershiftypes.name }"> Select one</option>
                                    </select>
                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('shelterStatus')}" th:errors="*{shelterStatus}">First Name Error</span>
                                </div>                            
                            </div>

                            <div class="form-group col-sm-6 row">
                                <label for="name" class="col-sm-6 control-label"> House type<span class="text-red">  </span> :</label>
                                <div class="col-sm-6">                   
                                    <select class="form-control  "  id="bookName"  th:field="*{housetype}"  >
                                        <option value=" "> Select one</option>
                                        <option th:each =" ownershiftypes :${ownershiftype}"
                                                th:value=" ${ownershiftypes.id }" 
                                                th:text="${ownershiftypes.name }"> Select one</option>
                                    </select>
                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('housetype')}" th:errors="*{housetype}">First Name Error</span>
                                </div>                            
                            </div>

                            <div class="form-group col-sm-6 row">
                                <label for="name" class="col-sm-6 control-label"> Child-1<span class="text-red">  </span> :</label>
                                <div class="col-sm-6">                   
                                    <select class="form-control  "  id="bookName"  th:field="*{childOneEducation}"  >
                                        <option value=" "> Select one</option>
                                        <option th:each =" continueNotContinueEnum :${continueNotContinueEnum}"
                                                th:value=" ${continueNotContinueEnum }" 
                                                th:text="${continueNotContinueEnum }"> Select one</option>
                                    </select>
                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('childOneEducation')}" th:errors="*{childOneEducation}">First Name Error</span>
                                </div>                            
                            </div>

                            <div class="form-group col-sm-6 row">
                                <label for="name" class="col-sm-6 control-label"> Child-2<span class="text-red">  </span> :</label>
                                <div class="col-sm-6">                   
                                    <select class="form-control  "  id="bookName"  th:field="*{childTwoEducation}"  >
                                        <option value=" "> Select one</option>
                                        <option th:each =" continueNotContinueEnum :${continueNotContinueEnum}"
                                                th:value=" ${continueNotContinueEnum }" 
                                                th:text="${continueNotContinueEnum }"> Select one</option>
                                    </select>
                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('childTwoEducation')}" th:errors="*{childTwoEducation}">First Name Error</span>
                                </div>                            
                            </div>

                            <div class="form-group col-sm-6 row">
                                <label for="name" class="col-sm-6 control-label"> Child-3<span class="text-red">  </span> :</label>
                                <div class="col-sm-6">                   
                                    <select class="form-control  "  id="bookName"  th:field="*{childThreeEducation}"  >
                                        <option value=" "> Select one</option>
                                        <option th:each =" continueNotContinueEnum :${continueNotContinueEnum}"
                                                th:value=" ${continueNotContinueEnum }" 
                                                th:text="${continueNotContinueEnum }"> Select one</option>
                                    </select>
                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('childThreeEducation')}" th:errors="*{childThreeEducation}">First Name Error</span>
                                </div>                            
                            </div>

                            <div class="form-group col-sm-6 row">
                                <label for="name" class="col-sm-6 control-label"> Child-4<span class="text-red">  </span> :</label>
                                <div class="col-sm-6">                   
                                    <select class="form-control  "  id="bookName"  th:field="*{childFourEducation}"  >
                                        <option value=" "> Select one</option>
                                        <option th:each =" continueNotContinueEnum :${continueNotContinueEnum}"
                                                th:value=" ${continueNotContinueEnum }" 
                                                th:text="${continueNotContinueEnum }"> Select one</option>
                                    </select>
                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('childFourEducation')}" th:errors="*{childFourEducation}">First Name Error</span>
                                </div>                            
                            </div>
                            
                                  <div class="form-group col-sm-6 row">
                                <label for="name" class="col-sm-6 control-label"> Child-5<span class="text-red">  </span> :</label>
                                <div class="col-sm-6">                   
                                    <select class="form-control  "  id="bookName"  th:field="*{childFiveEducation}"  >
                                        <option value=" "> Select one</option>
                                        <option th:each =" continueNotContinueEnum :${continueNotContinueEnum}"
                                                th:value=" ${continueNotContinueEnum }" 
                                                th:text="${continueNotContinueEnum }"> Select one</option>
                                    </select>
                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('childFiveEducation')}" th:errors="*{childFiveEducation}">First Name Error</span>
                                </div>                            
                            </div>
                            
                            
                                        <div class="form-group col-sm-6 row">
                                <label for="name" class="col-sm-6 control-label"> Child-6<span class="text-red">  </span> :</label>
                                <div class="col-sm-6">                   
                                    <select class="form-control  "  id="bookName"  th:field="*{childSixEducation}"  >
                                        <option value=" "> Select one</option>
                                        <option th:each =" continueNotContinueEnum :${continueNotContinueEnum}"
                                                th:value=" ${continueNotContinueEnum }" 
                                                th:text="${continueNotContinueEnum }"> Select one</option>
                                    </select>
                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('childSixEducation')}" th:errors="*{childSixEducation}">First Name Error</span>
                                </div>                            
                            </div>

                            <div class="form-group col-sm-6 row">
                                <label for="name" class="col-sm-6 control-label"> Relationship with neighbors<span class="text-red">  </span> :</label>
                                <div class="col-sm-6">                   
                                    <select class="form-control  "  id="bookName"  th:field="*{relationshipWithNeighbors}"  >
                                        <option value=" "> Select one</option>
                                        <option th:each =" impactMeasurementIndicator :${impactMeasurementIndicator}"
                                                th:value=" ${impactMeasurementIndicator }" 
                                                th:text="${impactMeasurementIndicator }"> Select one</option>
                                    </select>
                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('relationshipWithNeighbors')}" th:errors="*{relationshipWithNeighbors}">First Name Error</span>
                                </div>                            
                            </div>


                            <div class="form-group col-sm-6 row">
                                <label for="name" class="col-sm-6 control-label"> Attends social activities<span class="text-red">  </span> :</label>
                                <div class="col-sm-6">                   
                                    <select class="form-control  "  id="bookName"  th:field="*{attendsSocialActivities}"  >
                                        <option value=" "> Select one</option>
                                        <option th:each =" impactMeasurementYesNo :${impactMeasurementYesNo}"
                                                th:value=" ${impactMeasurementYesNo }" 
                                                th:text="${impactMeasurementYesNo }"> Select one</option>
                                    </select>
                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('attendsSocialActivities')}" th:errors="*{attendsSocialActivities}">First Name Error</span>
                                </div>                            
                            </div>


                            <div class="form-group col-sm-6 row">
                                <label for="name" class="col-sm-6 control-label"> Attends Social gatherings<span class="text-red">  </span> :</label>
                                <div class="col-sm-6">                   
                                    <select class="form-control  "  id="bookName"  th:field="*{attendsSocialGatherings}"  >
                                        <option value=" "> Select one</option>
                                       <option th:each =" impactMeasurementYesNo :${impactMeasurementYesNo}"
                                                th:value=" ${impactMeasurementYesNo }" 
                                                th:text="${impactMeasurementYesNo }"> Select one</option>
                                    </select>
                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('attendsSocialGatherings')}" th:errors="*{attendsSocialGatherings}">First Name Error</span>
                                </div>                            
                            </div>
                            
                                     <div class="form-group col-sm-6 row">
                                <label for="name" class="col-sm-6 control-label"> Access the social Safety-net program<span class="text-red">  </span> :</label>
                                <div class="col-sm-6">                   
                                    <select class="form-control  "  id="bookName"  th:field="*{accessSocialSafetynetProgram}"  >
                                        <option value=" "> Select one</option>
                                       <option th:each =" impactMeasurementYesNo :${impactMeasurementYesNo}"
                                                th:value=" ${impactMeasurementYesNo }" 
                                                th:text="${impactMeasurementYesNo }"> Select one</option>
                                    </select>
                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('accessSocialSafetynetProgram')}" th:errors="*{accessSocialSafetynetProgram}">First Name Error</span>
                                </div>                            
                            </div>

                            <div class="form-group col-sm-12 row">
                                <label for="name" class="col-sm-2 control-label"> Remarks<span class="text-red">  </span> </label>
                                <div class="col-sm-8">                   
                                    <textarea type="textarea" cols="60" rows="8" class="form-control  "  id="monthlyTotalIncome"    th:field="*{remark}" > </textarea>         
                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('remark')}" th:errors="*{remark}">First Name Error</span>
                                </div>                            
                            </div>
                            
                            

                            <div class="text-center">
                                <button type="submit" class="btn btn-info">Save</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <div class="card-tools pull-right">
                            <div class="btn-group">
                            </div>
                        </div>
                    </div>
                    <!-- /.card-footer-->
                </div>
                <!-- /.card -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>
</div>