<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorate="admin-layout">

    <div layout:fragment = "main_content">

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>CMC Support Report</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">CMC Support</a></li>
                                <li class="breadcrumb-item active">All Mother Work Location List</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-info">
                            <div class="card-header with-border">
                                <h3 class="card-title">All Mother Work Location List [[${list.size()}]]</h3>
                                <div class="card-tools pull-right">

                                </div>    </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="tablesdata" class="table table-bordered table-striped">
                                    <thead>    <tr>
                                            <th style="width: 10px">#</th>  
                                            <!--                                            <th>Edit</th>
                                                                                        <th>Delete</th>-->
                                            <th>Mother Master Code</th>
                                             <th>Mother Name</th>
                                            <th> Section Place </th>
                                            <th> Start Date</th>
                                            <th>End Date</th>

                                            <th> Total Days</th>
                                            <th> Ext Date </th>
                                            <th> Total Days </th>
                                            <th> Grand Total Days </th>

                                            <th>Remark</th>
                                        </tr>       </thead>
                                    <tbody>                      
                                        <tr th:each="list,status:${list}">
                                            <td th:text="${status.count}">2.</td>
                                            <!--                                            <td><a   th:href="@{/rmhousallocation/edit/{id} (id=${list.id})}" type="button" class="btn btn-xs bg-info">Edit</a></td>
                                                                                        <td> <a   th:href="@{/rmhousallocation/delete/{id} (id=${list.id})}" type="button" class="btn btn-xs bg-info ">Delete</a></td>-->
                                            <td th:text="${list.get('motherMasterCode')}">Chakma</td>
                                              <td th:text="${list.get('motherName')}">Chakma</td>
                                            <td th:text="${list.get('sectionPlace')}">Chakma</td>
                                            <td th:text="${list.get('allocationDate')}">Chakma</td>
                                            <td th:text="${list.get('endDate')}">Chakma</td>

                                            <td th:text="${list.get('totaldays')}">Chakma</td>
                                            <td th:text="${list.get('extDate')}">Chakma</td>
                                            <td th:text="${list.get('extentionDays')}">Chakma</td>
                                            <td th:text="${list.get('grandTotalDay')}">Chakma</td>

                                            <td th:text="${list.get('remark')}">Chakma</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer clearfix">

                            </div>
                        </div>
                        <!-- /.card -->

                    </div>
                    <!-- /.col -->

                    <!-- /.col -->
                </div>



            </section>
            <!-- /.content -->
        </div>
    </div>
</div>