<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorate="admin-layout">

    <div layout:fragment = "main_content">

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>CMC Support Report</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">CMC Support</a></li>
                                <li class="breadcrumb-item active">All Child House Location List</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>




            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-info">
                            <div class="card-header with-border">
                                <h3 class="card-title">All Child House Location List 
                                    [[${list.size()}]]
                                </h3>
                                <div class="card-tools pull-right">
                                    <!--                                    <a   th:href="@{/houseworkallocation/report}" type="button" class="btn  btn-light text-info btn-sm pull-right"> Close</a>-->
                                </div>    </div>
                            <!-- /.card-header -->
                            <div class="card-body">                               
                                <table id="tablesdata" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th style="width: 10px">#</th>  
                                            <!--                                            <th>Edit</th>
                                                                                        <th>Delete</th>-->
                                            <th>Mother Master Code</th>
                                            <th>Mother Name</th>
                                            <th>Child Master Code</th>
                                            <th>Child Name</th>
                                            <th>House Name </th>
                                            <th> Start Date</th>
                                            <th>End Date</th>
                                            <th> Total Days</th>
                                            <th> Ext Date </th>
                                            <th> Total Days </th>
                                            <th> Grand Total Days </th>
                                            <th>Remark</th>
                                        </tr>    
                                    </thead>
                                    <tbody>
                                        <tr th:each="list2,status:${list}">
                                            <td th:text="${status.count}">2.</td>
                                            <!--                                            <td><a   th:href="@{/chouseallocation/edit/{id} (id=${list2.id})}" type="button" class="btn btn-xs bg-info ">Edit</a></td>
                                                                                        <td> <a   th:href="@{/chouseallocation/delete/{id} (id=${list2.id})}" type="button" class="btn btn-xs bg-info ">Delete</a></td>-->
                                            <td th:text="${list2.motherMasterCode}">Chakma</td>
                                            <td th:text="${list2.motherName}">Chakma</td>
                                            <td th:text="${list2.childMasterCode}">Chakma</td>
                                            <td th:text="${list2.name}">Chakma</td>
                                            <td th:text="${list2.houseName}">Chakma</td>
                                            <td th:text="${list2.allocationDate}">Chakma</td>
                                            <td th:text="${list2.endDate}">Chakma</td>
                                            <td th:text="${list2.totaldays}">Chakma</td>                                 
                                            <td th:text="${list2.extDate}">Chakma</td>
                                            <td th:text="${list2.extentionDays}">Chakma</td>
                                            <td th:text="${list2.grandTotalDay}">Chakma</td>
                                            <td th:text="${list2.remark}">Chakma</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer clearfix">

                            </div>
                        </div>
                        <!-- /.card -->

                    </div>
                    <!-- /.col -->

                    <!-- /.col -->
                </div>



            </section>
            <!-- /.content -->
        </div>
    </div>
</div>