<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorate="admin-layout">
    <div layout:fragment = "main_content">
        <!-- Content Wrapper. Contains page content -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-3">
                            <h1>CMC Support</h1>
                        </div>
                        <div class="col-sm-9">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">CMC Support</a></li>
                                <li class="breadcrumb-item active">House and Work House And Work Allocation List</li>
                                <li class="breadcrumb-item active">Add Child House</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>
            <!-- Main content -->
            <section class="content">
                <!-- Default card -->
                <div class="card card-info">
                    <div class="card-header with-border">
                        <h3 class="card-title"> <span th:text='${form_title}'>Add </span></h3>
                        <div class="card-tools pull-right">
                            <div class="btn-group">
                                <a  th:href="@{/houseworkallocation/index/{id}(id=${r_C_HouseAllocations.motherMasterCode.id})}"  type="button" class="btn btn-block btn-light  btn-sm  text-red">Close</a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <form  th:action="@{/chouseallocation/save/{id}(id=${r_C_HouseAllocations.motherMasterCode.id})}"  th:object="${r_C_HouseAllocations}"  method="post" class="form-horizontal">

                            <input type="hidden"    class="form-control " th:field="*{id}"  />

                            <input type="hidden"    class="form-control " th:field="*{motherMasterCode}"  id="motherMasterCode"  name="motherMasterCode"  th:value="motherMasterCode"/>

                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('motherMasterCode')}" th:errors="*{motherMasterCode}">First Name Error</span>

                            <div class="card-body">

                                <div class="row">

                                    <div class="form-group col-sm-6 row">
                                        <label for="name" class="col-sm-4 control-label">Children Id<span class="text-red"> * </span> :</label>

                                        <div class="col-sm-6">
                                            <select class="form-control  "   th:field="*{childMasterCode}"  >
                                                <option value=" "> Select one</option>
                                                <option th:each =" childlist :${childlist}"
                                                        th:value=" ${childlist.id}"
                                                        th:text="${childlist.childMasterCode}"> Select one</option>
                                            </select>
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('houseName')}" th:errors="*{houseName}">First Name Error</span>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-6 row">
                                        <label for="name" class="col-sm-4 control-label"> House Name<span class="text-red"> * </span> :</label>

                                        <div class="col-sm-6">
                                            <select class="form-control  "   th:field="*{houseName}"  >
                                                <option value=" "> Select one</option>
                                                <option th:each =" houseName :${houseName}"
                                                        th:value=" ${houseName.id}"
                                                        th:text="${houseName.name}"> Select one</option>
                                            </select>
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('houseName')}" th:errors="*{houseName}">First Name Error</span>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-4 row">
                                        <label for="co" class="col-sm-4 control-label"> Start Date  :<span class="text-red"> * </span> </label>
                                        <div class="col-sm-8">
                                            <div class="input-group date" >
                                                <!--                                                <div class="input-group-addon" >
                                                                                                    <i class="fa fa-calendar"></i>
                                                                                                </div>-->
                                                <input type="text"  placeholder="dd/mm/yyyy" class="form-control  "   th:field="*{allocationDate}" id="startDate"/>
                                            </div>
                                            <span  class="help-block has-error text-red"  th:if="${#fields.hasErrors('allocationDate')}" th:errors="*{allocationDate}">First Name Error</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-4 row">
                                        <label for="name" class="col-sm-4 control-label"> End Date   <span class="text-red">  </span> </label>
                                        <div class="col-sm-8">
                                            <div class="input-group date" >
                                                <!--                                                <div class="input-group-addon" >
                                                                                                    <i class="fa fa-calendar"></i>
                                                                                                </div>-->
                                                <input type="text"   placeholder="dd/mm/yyyy" class="form-control  referral_date " th:field="*{endDate}"  id="endDate"   />
                                            </div>
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}">First Name Error</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-4 row"  th:if="${ !#strings.isEmpty(r_C_HouseAllocations.id) }">
                                        <label for="co" class="col-sm-4 control-label"> Ext Date  :<span class="text-red">  </span> </label>
                                        <div class="col-sm-8">
                                            <div class="input-group date" >
                                                <!--                                                <div class="input-group-addon" >
                                                                                                    <i class="fa fa-calendar"></i>
                                                                                                </div>-->
                                                <input type="text" placeholder="dd/mm/yyyy"  class="form-control  "   th:field="*{extDate}" />
                                            </div>
                                            <span  class="help-block has-error text-red"  th:if="${#fields.hasErrors('extDate')}" th:errors="*{extDate}">First Name Error</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-sm-12 row">
                                        <label for="name" class="col-sm-2 control-label"> Remarks<span class="text-red">  </span> </label>
                                        <div class="col-sm-8">
                                            <textarea type="textarea" cols="60" rows="8" class="form-control  "  id="monthlyTotalIncome"    th:field="*{remark}" > </textarea>
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('remark')}" th:errors="*{remark}">First Name Error</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="text-center">
                                    <button type="submit" class="btn btn-info">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <div class="card-tools pull-right">
                            <div class="btn-group">
                            </div>
                        </div>
                    </div>
                    <!-- /.card-footer-->
                </div>
                <!-- /.card -->

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>
</div>