<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorate="admin-layout">
    <div layout:fragment="main_content">
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>CMC Support</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">CMC Support</a></li>
                                <li class="breadcrumb-item active">House and Work House And Work Allocation </li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>




            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card card-info">
                            <div class="card-header with-border">
                                <h3 class="card-title"> New Mother List For House and Work
                                    Allocations</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="card-body table-responsive ">
                                    <table id="tablesdata" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th style="width: 10px">#</th>
                                                <th>Allocations Details</th>
                                                <th>Id</th>
                                                <th>Mother Master Code</th>
                                                <th>Mother Name</th>
                                                <th>Image</th>
                                                <th>Date Arrival</th>
                                                <th>Date Admission</th>
                                                <!--                                        <th>Pic</th>-->

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="o_MAddmission,status:${list}">
                                                <td th:text="${status.count}">2.</td>
                                                <td><a
                                                        th:href="@{/houseworkallocation/index/{id} (id=${o_MAddmission.motherMasterCode.id})}"
                                                        type="button" class="btn btn-xs bg-info ">Allocations
                                                        Details </a></td>
                                                <td th:text="${o_MAddmission.id}">Chakma</td>
                                                <td
                                                    th:text="${o_MAddmission.motherMasterCode.motherMasterCode}">Chakma</td>
                                                <td th:text="${o_MAddmission.motherMasterCode.motherName}">Chakma</td>
                                                <td>

                                                    <span th:if="${ not #lists.isEmpty(o_MAddmission.motherMasterCode.mimage)}">

                                                        <img class="img-responsive"
                                                             th:src="@{/files/}+${o_MAddmission.motherMasterCode.mimage.imageName}" width="150px"
                                                             height="150px" />
                                                    </span>

                                                    <span th:if="${#lists.isEmpty(o_MAddmission.motherMasterCode.mimage)}">
                                                        <img class="profile-user-img img-responsive" th:src="@{/images/profile.png}" alt="User profile picture"/>
                                                    </span>
                                                </td>

                                                <td th:text="${o_MAddmission.dateArrival}">Chakma</td>
                                                <td th:text="${o_MAddmission.dateAdmission}">Chakma</td>
                                                <td>
                                                    <!--                                            <img  class="img-responsive" th:src="${repo_url}+${o_MAddmission.picName}" width="50px" height="50px"/>-->
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer clearfix"></div>
                            </div>
                            <!-- /.card -->

                        </div>
                        <!-- /.col -->

                        <!-- /.col -->
                    </div>

            </section>
            <!-- /.content -->
        </div>
    </div>
</div>