<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org"  layout:decorate="admin-layout">

    <div layout:fragment = "main_content">

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Welcome Shishu Polli Plus  BIMS     Dashboards Mr.<span  class=" text-success " th:text="${userinfo.name}"></span>
                    <small>  </small>
                </h1>         
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-sm-12 ">

<!--                        <form class="form-inline col-sm-offset-3"  th:action="@{/dashboards/report}">

                            <label class="" for="email">From:</label>
                            <div class="form-group input-group date">
                                <div class="input-group-addon" > 
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="date"  min="2018-01-01"  max="2025-01-01"   required="true"  class="form-control"  name="fdate" />
                            </div>
                            <label class="" for="to">To:</label>
                            <div class="form-group input-group date">

                                <div class="input-group-addon" > 
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="date"  min="2018-01-01"  max="2025-01-01" required="true" class="form-control"   name="tdate" />
                            </div>

                            <button type="submit" class="btn btn-default bg-maroon-active">Submit</button>
                        </form>      -->
                        <br/>
                    </div>  

                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-lg-3 col-xs-6">
                                <div class="small-box " style="background-color: #800080;color: #fff">
                                    <div class="inner">
                                        <h3 th:text="${totalHomeVisit}">53</h3>
                                        <p>  Total Home Visit</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-stats-bars"></i>
                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-3 col-xs-6">

                                <div class="small-box bg-green">
                                    <div class="inner">
                                        <h3 th:text="${eligible}">53</h3>
                                        <p> Total Eligible Mother</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-stats-bars"></i>
                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-3 col-xs-6">

                                <div class="small-box  bg-aqua">
                                    <div class="inner">
                                        <h3 th:text="${eligiblechild}">53</h3>

                                        <p> Total Eligible Child </p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-stats-bars"></i>
                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-3 col-xs-6">

                                <div class="small-box bg-green">
                                    <div class="inner">
                                        <h3 th:text="${noteligible}">53</h3>
                                        <p> Total Not Eligible Mother</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-person-add"></i>
                                    </div>

                                </div>
                            </div>



                        </div>

                        <div class="row">


                            <div class="col-lg-3 col-xs-6">

                                <div class="small-box bg-green">
                                    <div class="inner">
                                        <h3 th:text="${approve}">53</h3>
                                        <p> Total Approved Mother</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-pie-graph"></i>
                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-3 col-xs-6">
                                <div class="small-box bg-green">
                                    <div class="inner">
                                        <h3 th:text="${notapprove}">53</h3>
                                        <p> Total Not Approved Mother</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-stats-bars"></i>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-3 col-xs-6">

                                <div class="small-box bg-green">
                                    <div class="inner">
                                        <h3 th:text="${totalobservationmother}">53</h3>
                                        <p> Total Observation Mother</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-person-add"></i>
                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-3 col-xs-6">

                                <div class="small-box bg-green">
                                    <div class="inner">
                                        <h3 th:text="${totalmotheradmission}">53</h3>
                                        <p>Total Mother Admission</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-pie-graph"></i>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-xs-6">
                                <div class="small-box bg-green">
                                    <div class="inner">
                                        <h3 th:text="${totalmothernow}">53</h3>
                                        <p> Total Mother In SPP Now </p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-person-add"></i>
                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-3 col-xs-6">

                                <div class="small-box bg-aqua">
                                    <div class="inner">
                                        <h3 th:text="${totalchildadmission}">53</h3>
                                        <p>Total Child Admission</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-pie-graph"></i>
                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-3 col-xs-6">

                                <div class="small-box bg-aqua">
                                    <div class="inner">
                                        <h3 th:text="${totalchildnow}">53</h3>
                                        <p>Total Child in SPP Now</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-stats-bars"></i>
                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-3 col-xs-6">

                                <div class="small-box " style="background-color: #38bc1c;color: #fff">
                                    <div class="inner">
                                        <h3 th:text="${totalmothernow + totalchildnow}">53</h3>
                                        <p> Total Beneficiary  Living in SPP</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-stats-bars"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-xs-6">

                                <div class="small-box bg-green">
                                    <div class="inner">
                                        <h3 th:text="${totalhigherstudy}">53</h3>
                                        <p> Total Mother on Higher Study at SPP now</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-stats-bars"></i>
                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-3 col-xs-6">

                                <div class="small-box bg-green">
                                    <div class="inner">
                                        <h3 th:text="${totaljob}">53</h3>
                                        <p> Mothers On Job Placement  </p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-stats-bars"></i>
                                    </div>

                                </div>
                            </div>



                            <div class="col-lg-3 col-xs-6">
                                <div class="small-box" style="background-color: #38bc1c;color: #fff">
                                    <div class="inner">
                                        <h3 th:text="${totalmothernow + totalchildnow+totaljob}">53</h3>
                                        <p> Total Beneficiaries  </p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-stats-bars"></i>
                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-3 col-xs-6">

                                <div class="small-box bg-yellow">
                                    <div class="inner">
                                        <h3 th:text="${preReintegrationNow}">53</h3>
                                        <p> Families Halfway House and Local Community </p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-pie-graph"></i>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="row">


                            <div class="col-lg-3 col-xs-6">

                                <div class="small-box bg-green">
                                    <div class="inner">
                                        <h3 th:text="${totalreintegrationmother}">53</h3>
                                        <p>Total Reintegration Mother </p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-person-add"></i>
                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-3 col-xs-6">

                                <div class="small-box bg-aqua">
                                    <div class="inner">
                                        <h3 th:text="${totalreintegrationchild}">53</h3>
                                        <p>Total Reintegration Child</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-pie-graph"></i>
                                    </div>

                                </div>
                            </div>


                            <div class="col-lg-3 col-xs-6">

                                <div class="small-box bg-yellow">
                                    <div class="inner">
                                        <h3 th:text="${totalreintegrationmother+totalreintegrationchild}">53</h3>
                                        <p>Total Reintegration</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-pie-graph"></i>
                                    </div>

                                </div>
                            </div>


                            <div class="col-lg-3 col-xs-6">

                                <div class="small-box bg-red">
                                    <div class="inner">
                                        <h3 th:text="${totalmotherfollowup}">53</h3>
                                        <p>Total Follow Up Families</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-stats-bars"></i>
                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-3 col-xs-6">

                                <div class="small-box bg-red" >

                                    <div class="inner">

                                        <h3 th:text="${longtermcarechildlist}">53</h3>

                                        <p>Total Long Term Care </p>

                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-stats-bars"></i>
                                    </div>

                                </div>
                            </div>
                        </div>


                    </div>
                    <!-- /.col -->

                    <!-- /.col -->
                </div>

            </section>
            <!-- /.content -->
        </div>
    </div>
</div>