<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorate="admin-layout">
    <div layout:fragment = "main_content">
        <!-- Content Wrapper. Contains page content -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-5">
                            <h1>   Livelihood Training </h1>
                        </div>
                        <div class="col-sm-7">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Livelihood Training</a></li>
                                <li class="breadcrumb-item active">Training List By Mother </li>
                                <li class="breadcrumb-item active"> Add Life Skill/Universal Training</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <!-- Default card -->
                <div class="card card-info">
                    <div class="card-header with-border">
                        <h3 class="card-title"> Mother IGA Training </h3>
                        <div class="card-tools pull-right">
                            <div class="btn-group">                 
                                <a  th:href="@{/rtraining/index/{id}(id=${r_IGA_Training.motherMasterCode.id})}"  type="button" class="btn  btn-light btn-xs text-red">Close</a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <form  th:action="@{/rigatraining/save/{id}(id=${r_IGA_Training.motherMasterCode.id})}"  th:object="${r_IGA_Training}"  method="post" class="form-horizontal">

                            <input type="hidden"    class="form-control " th:field="*{id}"  />    

                            <input type="hidden"    class="form-control " th:field="*{motherMasterCode}"  id="motherMasterCode"  name="motherMasterCode"  th:value="motherMasterCode"/>     

                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('motherMasterCode')}" th:errors="*{motherMasterCode}">First Name Error</span>

                            <div class="card-body">

                                <div class="row">

                                    <div class="form-group col-sm-6 row">
                                        <label for="co" class="col-sm-4 control-label"> Name<span class="text-red"> * </span> </label>
                                        <div class="col-sm-8">    
                                            <div class="input-group" >
                                                <input type="text"  class="form-control  "   th:field="*{name}"  />    

                                                <span  class="help-block has-error text-red"  th:if="${#fields.hasErrors('name')}" th:errors="*{name}">First Name Error</span>
                                            </div>     
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6 row">
                                        <label for="name" class="col-sm-4 control-label"> Training Name<span class="text-red"> * </span> :</label>

                                        <div class="col-sm-6">   
                                            <select class="form-control  "   th:field="*{trainingName}"  >
                                                <option value=" "> Select one</option>
                                                <option th:each =" trainingName :${trainingName}"
                                                        th:value=" ${trainingName.id}" 
                                                        th:text="${trainingName.name}"> Select one</option>
                                            </select>
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('trainingName')}" th:errors="*{trainingName}">First Name Error</span>
                                        </div>    
                                    </div>
                                </div>


                                <div class="row">

                                    <div class="form-group col-sm-6 row">
                                        <label for="co" class="col-sm-4 control-label"> Prerequisite Skill<span class="text-red">  </span> </label>
                                        <div class="col-sm-8">    
                                            <div class="input-group" >
                                                <input type="text"  class="form-control  "   th:field="*{prerequisiteSkill}"  />    

                                                <span  class="help-block has-error text-red"  th:if="${#fields.hasErrors('prerequisiteSkill')}" th:errors="*{prerequisiteSkill}">First Name Error</span>
                                            </div>     
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6 row">
                                        <label for="co" class="col-sm-4 control-label">Venue<span class="text-red"> * </span> </label>
                                        <div class="col-sm-8">    
                                            <div class="input-group" >
                                                <input type="text"  class="form-control  "   th:field="*{location}"  />    

                                                <span  class="help-block has-error text-red"  th:if="${#fields.hasErrors('location')}" th:errors="*{location}">First Name Error</span>
                                            </div>     
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-sm-6 row">
                                        <label for="co" class="col-sm-4 control-label"> Start Date  :<span class="text-red"> * </span> </label>
                                        <div class="col-sm-8">    
                                            <div class="input-group date" >
                                                <!--                                                <div class="input-group-addon" > 
                                                                                                    <i class="fa fa-calendar"></i>
                                                                                                </div>-->

                                                <input type="text"  placeholder="dd/mm/yyyy" class="form-control  "   th:field="*{startDate}" id="startDate"/>    
                                            </div>
                                            <span  class="help-block has-error text-red"  th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}">First Name Error</span>
                                        </div>     
                                    </div> 
                                    <div class="form-group col-sm-6 row">
                                        <label for="name" class="col-sm-4 control-label"> End Date   <span class="text-red"> </span> </label>
                                        <div class="col-sm-8">    
                                            <div class="input-group date" >
                                                <!--                                                <div class="input-group-addon" > 
                                                                                                    <i class="fa fa-calendar"></i>
                                                                                                </div>-->
                                                <input type="text"   placeholder="dd/mm/yyyy" class="form-control  referral_date " th:field="*{endDate}"  id="endDate"   />                
                                            </div>  
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}">First Name Error</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6 row">
                                        <label for="co" class="col-sm-4 control-label"> Ext Date  :<span class="text-red">  </span> </label>
                                        <div class="col-sm-8">    
                                            <div class="input-group date" >
                                                <!--                                                <div class="input-group-addon" > 
                                                                                                    <i class="fa fa-calendar"></i>
                                                                                                </div>-->

                                                <input type="text" placeholder="dd/mm/yyyy"  class="form-control  "   th:field="*{extentionDate}" id="extDate"/>    
                                            </div>
                                            <span  class="help-block has-error text-red"  th:if="${#fields.hasErrors('extentionDate')}" th:errors="*{extentionDate}" >First Name Error</span>
                                        </div>     
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-sm-12 row">
                                        <label for="name" class="col-sm-2 control-label"> Conducted By <span class="text-red">  </span> </label>
                                        <div class="col-sm-8">                   
                                            <textarea type="textarea" cols="60" rows="8" class="form-control  "  id="monthlyTotalIncome"    th:field="*{conductedBy}" > </textarea>         
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('conductedBy')}" th:errors="*{conductedBy}">First Name Error</span>
                                        </div>                            
                                    </div>
                                </div>                 

                                <div class="text-center">
                                    <button type="submit" class="btn btn-info">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <div class="card-tools pull-right">
                            <div class="btn-group">
                            </div>
                        </div>
                    </div>
                    <!-- /.card-footer-->
                </div>
                <!-- /.card -->

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>
</div>