<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorate="admin-layout">

    <div layout:fragment = "main_content">

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    School
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-info">
                            <div class="card-header with-border">
                                <h3 class="card-title"> Children List For Swim Safe Lesson</h3>

                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="table-responsive">  
                                    <table class="table table-bordered">
                                        <tr>
                                            <th style="width: 10px">#</th>


                                            <th>Child master code</th>
                                            <th>Child Name</th>
                                            <th>Result</th>
                                            <th>Start Date</th> 
                                            <th>End Date</th>  
                                            <th>Edit</th>  
                                            <th>Delete</th>  
                                        </tr>                          
                                        <tr th:each="lists,status:${clildlist}">                                
                                            <td th:text="${status.count}">2.</td>      


                                            <!--                                            <td th:text="${lists.motherMasterCode.motherMasterCode}">Chakma</td>
                                                                                        <td th:text="${lists.motherMasterCode.motherName}">Chakma</td>-->
                                            <td th:text="${lists.childMasterCode.childMasterCode}">Chakma</td>
                                            <td th:text="${lists.name}">Chakma</td>
                                            <td th:text="${lists.graduateStatus}">Chakma</td>
                                            <td th:text="${lists.startDate}">Chakma</td>
                                            <td th:text="${lists.endDate}">Chakma</td>
                                            <td><a th:href="@{/swimming/edit/{id}(id=${lists.id})}" type="button" class="btn btn-sm bg-info ">Edit</a></td>
                                            <td><a th:href="@{/swimming/delete/{id}(id=${lists.id})}" type="button" class="btn btn-sm bg-danger ">Delete</a></td>

                                        </tr> 
                                    </table>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer clearfix">

                            </div>
                        </div>
                        <!-- /.card -->

                    </div>
                    <!-- /.col -->

                    <!-- /.col -->
                </div>

            </section>
            <!-- /.content -->
        </div>
    </div>
</div>