<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorate="admin-layout">

    <div layout:fragment = "main_content">

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>CMC Support</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">CMC Support</a></li>
                                <li class="breadcrumb-item active">Food</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-info">
                            <div class="card-header with-border">
                                <h3 class="card-title"> Food</h3>
                                <div class="card-tools pull-right">
                                    <div class="btn-group">              
                                        <a   th:href="@{/food/add}" type="button" class="btn btn-block btn-light  btn-sm pull-right text-info"> Add New </a>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">

                                <table class="table table-bordered">
                                    <tr>
                                        <th style="width: 10px">#</th>  
                                        <th>Date</th>
                                        <th>House Name</th>
                                        <th>Total Persons</th>
                                        <th>Sick </th>
                                        <th>On Leave</th>
                                        <th> Under Observation</th>
                                        <th>On Job</th>
                                        <th> Others </th>  
                                        <th>Total Present</th>   
                                        <th>Edit</th>    
                                        <th>Delete</th> 
                                    </tr>

                                    <tr th:each="lists,status:${list}">
                                        <td th:text="${status.count}">2.</td>
                                        <td th:text="${lists.todaydate}">2.</td>
                                        <td th:text="${lists.foodByHouse}">2.</td>
                                        <td th:text="${lists.totalPersons}">2.</td>
                                        <td th:text="${lists.sick}">2.</td>
                                        <td th:text="${lists.onLeave}">2.</td>
                                        <td th:text="${lists.underObservation}">2.</td>
                                        <td th:text="${lists.onJob}">2.</td>
                                        <td th:text="${lists.others}">2.</td>
                                        <td th:text="${lists.totalPresent}">2.</td>
                                        <td>
                                            <a   th:href="@{/food/edit/{id} (id=${lists.id})}" type="button" class="btn btn-xs bg-info">Edit</a>
                                        </td>
                                        <td> 
                                            <a   th:href="@{/food/delete/{id} (id=${lists.id})}" type="button" class="btn btn-xs bg-danger ">Delete</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <!-- /.card -->

                    </div>
                    <!-- /.col -->

                    <!-- /.col -->
                </div>

            </section>
            <!-- /.content -->
        </div>
    </div>
</div>