<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorate="admin-layout">

    <div layout:fragment = "main_content">

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->


            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>     Pre Reintegration Visit</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">    Pre Reintegration Visit</a></li>
                                <li class="breadcrumb-item active">
                                    Pre Reintegration Visit complete Mother List   </li>

                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-info">
                            <div class="card-header with-border">
                                <h3 class="card-title"> Pre Reintegration Visit complete Mother List  ( Total: <span th:text="${list.size()}"></span>) </h3>

                            </div>
                            <!-- /.card-header -->
                            <div class="card-body table-responsive ">
                                <table id="tablesdata" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th> Mother   Master Code</th>
                                            <th> Mother Name</th>

                                            <th>Staff name</th>
                                            <th>Visit Date</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                            <th>Add Details</th>

                                        </tr>  
                                    </thead>
                                    <tbody>
                                        <tr th:each="list, status :${list}">
                                            <td th:text="${status.count}">Chakma</td>
                                            <td th:text="${list.motherMasterCode}">Chakma</td>
                                            <td th:text="${list.motherName}">Chakma</td>                                      
                                            <td th:text="${list.officerName}" >Chakma</td>
                                            <td th:text="${list.dateOfVisit}">Chakma</td>

                                            <td> 
                                                <a   th:href="@{/pre_reintegration_visit/edit/{id} (id=${list.visitId})}" type="button" class="btn btn-xs bg-maroon ">Edit</a>
                                            </td>
                                            <td> 
                                                <a   th:href="@{/pre_reintegration_visit/delete/{id} (id=${list.visitId})}" type="button" class="btn btn-xs bg-danger ">Delete</a>

                                            </td>

                                            <td> 
                                                <a   th:href="@{/pre_reintegration_visit/details/{m_id} (m_id=${list.motherMasterCodeId})}" type="button" class="btn btn-xs bg-danger ">Add Details </a>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer clearfix">

                            </div>
                        </div>
                        <!-- /.card -->

                    </div>
                    <!-- /.col -->

                    <!-- /.col -->
                </div>
            </section>
            <!-- /.content -->
        </div>
    </div>
</div>