<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorate="admin-layout">
    <div layout:fragment = "main_content">
        <!-- Content Wrapper. Contains page content -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
           <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-4">
                            <h1>     Pre Reintegration Visit</h1>
                        </div>
                        <div class="col-sm-8">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">   Pre Reintegration Visit</a></li>
                                <li class="breadcrumb-item "><a href="#">
                                        Mother Pre Reintegration Details  </a></li>
                                <li class="breadcrumb-item active">Mother Accessibility </li>

                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>
            <!-- Main content -->
            <section class="content">
                <!-- Default card -->
                <div class="card card-info">
                    <div class="card-header with-border">
                        <h3 class="card-title"><span th:text='${form_title}'>Add </span></h3>
                        <div class="card-tools pull-right">
                            <div class="btn-group">                 
                               <a  th:href="@{/pre_reintegration_visit/details/{m_id}(m_id=${m_Accessibility_ReintegrationVisit.motherMasterCode.id})}"   type="button" class="btn btn-block btn-light text-red  btn-sm pull-right "> Close <i class="fas fa-times"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <form  th:action="@{/pre_reintegration_m_accessibility/save/{m_id}(m_id=${m_Accessibility_ReintegrationVisit.motherMasterCode.id})}"   th:object="${m_Accessibility_ReintegrationVisit}"  method="post" class="form-horizontal">

                            <div class="card-body">
                                   <div class="alert alert-danger alert-dismissible" th:if="${#fields.hasErrors('*')}">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                            <h4><i class="icon fa fa-ban"></i> Error </h4>
                                            <ul th:if="${#fields.hasErrors('*')}">
                                                <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                                            </ul>
                                        </div>
                                
                                
                                <div class="row">
                                    <input type="hidden"    class="form-control " th:field="*{id}" />
                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('id')}" th:errors="*{id}">First Name Error</span>
                                    <input type="hidden"    class="form-control " th:field="*{motherMasterCode}"   />   
                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('motherMasterCode')}" th:errors="*{motherMasterCode}">First Name Error</span>
                                </div>   
                                <div class="row">
                                    <div class="form-group col-sm-6 row">
                                        <label for="name" class="col-sm-6 control-label"> Road <span class="text-red">  </span> :</label>
                                        <div class="col-sm-6">                   
                                            <select class="form-control  "  id="bookName"  th:field="*{roadType}"  >
                                                <option value=" "> Select one</option>
                                                <option th:each =" road :${road}"
                                                        th:value=" ${road.id}" 
                                                        th:text="${road.name}"> Select one</option>
                                            </select>
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('roadType')}" th:errors="*{roadType}">First Name Error</span>
                                        </div>                            
                                    </div>

                                    <div class="form-group col-sm-6 row">
                                        <label for="name" class="col-sm-6 control-label"> Transport<span class="text-red">  </span> :</label>
                                        <div class="col-sm-6">                   
                                            <select class="form-control  "  id="bookName"  th:field="*{transportType}"  >
                                                <option value=" "> Select one</option>
                                                <option th:each =" transport :${transport}"
                                                        th:value=" ${transport.id}" 
                                                        th:text="${transport.name}"> Select one</option>
                                            </select>
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('transportType')}" th:errors="*{transportType}">First Name Error</span>
                                        </div>      



                                    </div>

                                </div>

                                <div class="row">
                                    <div class="form-group col-sm-6 row">
                                        <label for="name" class="col-sm-6 control-label"> Distance from  Main Road <span class="text-red">  </span> :</label>
                                        <div class="col-sm-4">                   
                                            <div class="input-group" >
                                              <input type="number"  min="0"  step="any" class="form-control  "    th:field="*{distanceToMainRoad}"  />                                                        
                                            </div>
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('distanceToMainRoad')}" th:errors="*{distanceToMainRoad}">First Name Error</span>
                                        </div>     <div class="col-sm-1">Km</div>                       
                                    </div>


                                </div>          

                                <div class="row">
                                    <div class="form-group col-sm-6 row">
                                        <label for="name" class="col-sm-6 control-label"> Primary School <span class="text-red">  </span> :</label>
                                        <div class="col-sm-6">                   
                                            <select class="form-control  "  id="bookName"  th:field="*{primarySchool}"  >
                                                <option value=" "> Select one</option>
                                                <option th:each =" primary_school :${primary_school}"
                                                        th:value=" ${primary_school}" 
                                                        th:text="${primary_school}"> Select one</option>
                                            </select>
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('roadType')}" th:errors="*{roadType}">First Name Error</span>
                                        </div>                            
                                    </div>

                                    <div class="form-group col-sm-6 row">
                                        <label for="number" class="col-sm-6 control-label"> Primary School Distance<span class="text-red">  </span> :</label>
                                        <div class="col-sm-4">                   
                                            <div class="input-group" >
                                              <input type="number"  min="0"  step="any" class="form-control  "    th:field="*{primarySchoolDistance}"  />                                                        
                                            </div>
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('primarySchoolDistance')}" th:errors="*{primarySchoolDistance}">First Name Error</span>
                                        </div> <div class="col-sm-1">Km</div>                              
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6 row">
                                        <label for="name" class="col-sm-6 control-label"> Secondary School <span class="text-red">  </span> :</label>
                                        <div class="col-sm-6">                   
                                            <select class="form-control  "  id="bookName"  th:field="*{secondarySchool}"  >
                                                <option value=" "> Select one</option>
                                                <option th:each =" secondary_school :${secondary_school}"
                                                        th:value=" ${secondary_school}" 
                                                        th:text="${secondary_school}"> Select one</option>
                                            </select>
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('roadType')}" th:errors="*{roadType}">First Name Error</span>
                                        </div>                            
                                    </div>

                                    <div class="form-group col-sm-6 row">
                                        <label for="name" class="col-sm-6 control-label"> Secondary School Distance<span class="text-red">  </span> :</label>
                                        <div class="col-sm-4">                   
                                            <div class="input-group" >
                                               <input type="number"  min="0"  step="any"   class="form-control  "    th:field="*{secondarySchoolDistance}"  />                                                        
                                            </div>
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('secondarySchoolDistance')}" th:errors="*{secondarySchoolDistance}">First Name Error</span>
                                        </div>    <div class="col-sm-1">Km</div>                           
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="form-group col-sm-6 row">
                                        <label for="name" class="col-sm-6 control-label"> Health Care <span class="text-red">  </span> :</label>
                                        <div class="col-sm-6">                   
                                            <select class="form-control  "  id="bookName"  th:field="*{hospital}"  >
                                                <option value=" "> Select one</option>
                                                <option th:each =" healthCare :${healthCare}"
                                                        th:value=" ${healthCare}" 
                                                        th:text="${healthCare}"> Select one</option>
                                            </select>
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('hospital')}" th:errors="*{hospital}">First Name Error</span>
                                        </div>                            
                                    </div>

                                    <div class="form-group col-sm-6 row">
                                        <label for="name" class="col-sm-6 control-label"> Health Care Center Distance<span class="text-red">  </span> :</label>
                                        <div class="col-sm-4">                   
                                            <div class="input-group" >
                                             <input type="number"  min="0"  step="any"   class="form-control  "    th:field="*{hospitalDistance}"  />                                                        
                                            </div>
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('hospitalDistance')}" th:errors="*{hospitalDistance}">First Name Error</span>
                                        </div>    <div class="col-sm-1">Km</div>                            
                                    </div>

                                </div>


                                <div class="row">
                                    <div class="form-group col-sm-6 row">
                                        <label for="name" class="col-sm-6 control-label"> Market Place <span class="text-red">  </span> :</label>
                                        <div class="col-sm-6">                   
                                            <select class="form-control  "  id="bookName"  th:field="*{marketPlace}"  >
                                                <option value=" "> Select one</option>
                                                <option th:each =" marketPlace :${marketPlace}"
                                                        th:value=" ${marketPlace}" 
                                                        th:text="${marketPlace}"> Select one</option>
                                            </select>
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('marketPlace')}" th:errors="*{marketPlace}">First Name Error</span>
                                        </div>                            
                                    </div>

                                    <div class="form-group col-sm-6 row">
                                        <label for="name" class="col-sm-6 control-label"> Market Place Distance<span class="text-red">  </span> :</label>
                                        <div class="col-sm-4">                   
                                            <div class="input-group" >
                                                <input type="number"  min="0"  step="any"   class="form-control  "    th:field="*{marketPlaceDistance}"  />                                                        
                                            </div>
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('marketPlaceDistance')}" th:errors="*{marketPlaceDistance}">First Name Error</span>
                                        </div><div class="col-sm-1">Km</div>                                
                                    </div>

                                </div>


                                <div class="row">
                                    <div class="form-group col-sm-6 row">
                                        <label for="name" class="col-sm-6 control-label"> Bank <span class="text-red">  </span> :</label>
                                        <div class="col-sm-6">                   
                                            <select class="form-control  "  id="bookName"  th:field="*{bank}"  >
                                                <option value=" "> Select one</option>
                                                <option th:each =" bank :${bank}"
                                                        th:value=" ${bank}" 
                                                        th:text="${bank}"> Select one</option>
                                            </select>
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('bank')}" th:errors="*{bank}">First Name Error</span>
                                        </div>                            
                                    </div>

                                    <div class="form-group col-sm-6 row">
                                        <label for="name" class="col-sm-6 control-label"> Bank  Distance<span class="text-red">  </span> :</label>
                                        <div class="col-sm-4">                   
                                            <div class="input-group" >
                                               <input type="number"  min="0"  step="any"  class="form-control  "    th:field="*{bankDistance}"  />                                                        
                                            </div>
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('bankDistance')}" th:errors="*{bankDistance}">First Name Error</span>
                                        </div>    <div class="col-sm-1">Km</div>                            
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="form-group col-sm-6 row">
                                        <label for="name" class="col-sm-6 control-label"> NGO  <span class="text-red">  </span> :</label>
                                        <div class="col-sm-6">                   
                                            <select class="form-control  "  id="bookName"  th:field="*{ngo}"  >
                                                <option value=" "> Select one</option>
                                                <option th:each =" ngo :${ngo}"
                                                        th:value=" ${ngo}" 
                                                        th:text="${ngo}"> Select one</option>
                                            </select>
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('ngo')}" th:errors="*{ngo}">First Name Error</span>
                                        </div>                            
                                    </div>

                                    <div class="form-group col-sm-6 row">
                                        <label for="name" class="col-sm-6 control-label"> NGO   Distance<span class="text-red">  </span> :</label>
                                        <div class="col-sm-4">                   
                                            <div class="input-group" >
                                            <input type="number"  min="0"  step="any"   class="form-control  "    th:field="*{ngoDistance}"  />                                                        
                                            </div>
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('ngoDistance')}" th:errors="*{ngoDistance}">First Name Error</span>
                                        </div>   <div class="col-sm-1">Km</div>                             
                                    </div>

                                </div>


                                <div class="row">
                                    <div class="form-group col-sm-6 row">
                                        <label for="name" class="col-sm-6 control-label"> Welfare Institutions  <span class="text-red">  </span> :</label>
                                        <div class="col-sm-6">                   
                                            <select class="form-control  "  id="bookName"  th:field="*{wellfareInstitutions}"  >
                                                <option value=" "> Select one</option>
                                                <option th:each =" welfareInstitutions :${welfareInstitutions}"
                                                        th:value=" ${welfareInstitutions}" 
                                                        th:text="${welfareInstitutions}"> Select one</option>
                                            </select>
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('wellfareInstitutions')}" th:errors="*{wellfareInstitutions}">First Name Error</span>
                                        </div>                            
                                    </div>

                                    <div class="form-group col-sm-6 row">
                                        <label for="name" class="col-sm-6 control-label"> Welfare Institutions   Distance<span class="text-red">  </span> :</label>
                                        <div class="col-sm-4">                   
                                            <div class="input-group" >
                                             <input type="number"  min="0"  step="any"   class="form-control  "    th:field="*{ngoDistance}"  />                                                        
                                            </div>
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('ngoDistance')}" th:errors="*{ngoDistance}">First Name Error</span>
                                        </div>    <div class="col-sm-1">Km</div>                            
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="form-group col-sm-6 row">
                                        <label for="name" class="col-sm-6 control-label"> Technical Training Institute <span class="text-red">  </span> :</label>
                                        <div class="col-sm-6">                   
                                            <select class="form-control  "  id="bookName"  th:field="*{technicalInstiute}"  >
                                                <option value=" "> Select one</option>
                                                <option th:each =" technicalTrainingInstitute :${technicalTrainingInstitute}"
                                                        th:value=" ${technicalTrainingInstitute}" 
                                                        th:text="${technicalTrainingInstitute}"> Select one</option>
                                            </select>
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('technicalInstiute')}" th:errors="*{technicalInstiute}">First Name Error</span>
                                        </div>                            
                                    </div>

                                    <div class="form-group col-sm-6 row">
                                        <label for="name" class="col-sm-6 control-label"> Technical Training Institute  Distance<span class="text-red">  </span> :</label>
                                        <div class="col-sm-4">                   
                                            <div class="input-group" >
                                              <input type="number"  min="0"  step="any"   class="form-control  "    th:field="*{technicalInstiuteDistance}"  />                                                        
                                            </div>
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('technicalInstiuteDistance')}" th:errors="*{technicalInstiuteDistance}">First Name Error</span>
                                        </div>    <div class="col-sm-1">Km</div>                            
                                    </div>

                                </div>

                                <div class="form-group col-sm-12 row">
                                    <label for="name" class="col-sm-3 control-label"> Remark<span class="text-red">  </span>: </label>
                                    <div class="col-sm-8">                   
                                        <textarea type="textarea" cols="60" rows="8" class="form-control  "  id="monthlyTotalIncome"    th:field="*{REMARKS}" > </textarea>         
                                        <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('REMARKS')}" th:errors="*{REMARKS}">First Name Error</span>
                                    </div>                            
                                </div>

                                <div class="text-center">
                                    <button type="submit" class="btn btn-info">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <div class="card-tools pull-right">
                            <div class="btn-group">


                            </div>
                        </div>
                    </div>
                    <!-- /.card-footer-->
                </div>
                <!-- /.card -->

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>
</div>