<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorator="admin-layout">
    <div layout:fragment = "main_content">
        <!-- Content Wrapper. Contains page content -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                   Pre Reintegration 
                    <small> </small>
                </h1>
            </section>
            <!-- Main content -->
            <section class="content">
                <!-- Default box -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Mother Address <span th:text='${form_title}'>Add </span></h3>
                        <div class="box-tools pull-right">
                            <div class="btn-group">                 
                                <a  th:href="@{/pre_reintegration_visit/details/{id}(id=${m_Address_ReintegrationVisit.motherMasterCode.id})}"  type="button" class="btn  btn-warning btn-xs">Close</a>
                            </div>
                        </div>
                    </div>

                    <div class="box-body">
                        <form  th:action="@{/pre_reintegration_m_address/save/{id}(id=${m_Address_ReintegrationVisit.motherMasterCode.id})}"  th:object="${m_Address_ReintegrationVisit}"  method="post" class="form-horizontal">

                            <input type="hidden"    class="form-control " th:field="*{id}" />

                            <input type="hidden"    class="form-control " th:field="*{motherMasterCode}" />     

                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('motherMasterCode')}" th:errors="*{motherMasterCode}">First Name Error</span>

                            <div class="box-body">

                                <div class="row">

                                    <div class="form-group col-sm-6">

                                        <label for="name" class="col-sm-3 control-label"> Address Type<span class="text-red"> * </span> :</label>

                                        <div class="col-sm-6">   

                                            <select class="form-control  "  id="bookName"  th:field="*{addressType}" name="addressType" >

                                                <option value=" "> Select one</option>

                                                <option th:each =" addressType :${addressType}"

                                                        th:value=" ${addressType}" 

                                                        th:text="${addressType}"> Select one</option>

                                            </select>

                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('addressType')}" th:errors="*{addressType}">First Name Error</span>

                                        </div>    

                                    </div>

                                    <div class="form-group col-sm-6">

                                        <label for="co" class="col-sm-3 control-label">  C/O  :<span class="text-red">  </span> </label>

                                        <div class="col-sm-6">       

                                            <input type="text"  class="form-control  "  id="co"  th:field="*{co}" name="co"  />            

                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('co')}" th:errors="*{co}">First Name Error</span>

                                        </div>     

                                    </div>

                                </div>

                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label for="vill" class="col-sm-3 control-label">Vill/House<span class="text-red"></span> :</label>
                                        <div class="col-sm-8">  
                                            <div class="input-group" >

                                                <input type="text"  id="vill"    class="form-control  "    th:field="*{vill}"   />                                                        
                                            </div>                                                     
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('vill')}" th:errors="*{vill}">First Name Error</span>
                                        </div>               
                                    </div>

                                    <div class="form-group col-sm-6">
                                        <label for="name" class="col-sm-3 control-label"> P.O<span class="text-red">  </span>: </label>
                                        <div class="col-sm-8">                   
                                            <input type="text"  class="form-control"  th:field="*{po}"  />                
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('po')}" th:errors="*{po}">First Name Error</span>
                                        </div>                            
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label for="name" class="col-sm-3 control-label"> District<span class="text-red"> * </span> :</label>
                                        <div class="col-sm-6">                   
                                            <select class="form-control  "  id="bookName"  th:field="*{district}" name="district" >
                                                <option value=" "> Select one</option>
                                                <option th:each ="district :${district}"
                                                        th:value=" ${district}" 
                                                        th:text="${district}"> Select one</option>
                                            </select>
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('district')}" th:errors="*{district}">First Name Error</span>
                                        </div>                            
                                    </div>

                                    <div class="form-group col-sm-6">
                                        <label for="name" class="col-sm-3 control-label">Thana <span class="text-red"> * </span>: </label>
                                        <div class="col-sm-6">                   
                                            <select class="form-control  "  id="bookName"  th:field="*{thana}" name="thana" >
                                                <option value=" "> Select one</option>
                                                <option th:each ="thana:${thana}"
                                                        th:value=" ${thana.id}" 
                                                        th:text="${thana.name}"> Select one</option>
                                            </select>
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('thana')}" th:errors="*{thana}">First Name Error</span>
                                        </div>                            
                                    </div>
                                </div>
                                
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="box-tools pull-right">
                            <div class="btn-group">
                            </div>
                        </div>
                    </div>
                    <!-- /.box-footer-->
                </div>
                <!-- /.box -->

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>
</div>