<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorate="admin-layout">
    <div layout:fragment = "main_content">
        <!-- Content Wrapper. Contains page content -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->

            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-4">
                            <h1>     Pre Reintegration Visit</h1>
                        </div>
                        <div class="col-sm-8">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">   Pre Reintegration Visit</a></li>
                                <li class="breadcrumb-item "><a href="#">
                                        Mother Pre Reintegration Details  </a></li>
                                <li class="breadcrumb-item active">Mother Community Information</li>

                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>



            <!-- Main content -->
            <section class="content">
                <!-- Default card -->
                <div class="card card-info">
                    <div class="card-header with-border">
                        <h3 class="card-title"> <span th:text='${form_title}'>Add </span></h3>
                        <div class="card-tools pull-right">
                            <div class="btn-group">                 
                                <a  th:href="@{/pre_reintegration_visit/details/{m_id}(m_id=${m_Community_Information_ReintegrationVisit.motherMasterCode.id})}"  type="button" class="btn btn-block btn-light text-red  btn-sm pull-right "> Close <i class="fas fa-times"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <form  th:action="@{/pre_reintegration_m_community_information/save/{m_id}(m_id=${m_Community_Information_ReintegrationVisit.motherMasterCode.id})}" th:object="${m_Community_Information_ReintegrationVisit}"  method="post" class="form-horizontal">
                            <div class="card-body">

                                <div class="row">
                                    <input type="hidden"    class="form-control " th:field="*{id}" />
                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('id')}" th:errors="*{id}">First Name Error</span>
                                    <input type="hidden"    class="form-control " th:field="*{motherMasterCode}"   />   
                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('motherMasterCode')}" th:errors="*{motherMasterCode}">First Name Error</span>
                                </div>      
                                <div class="row">
                                    <div class="form-group col-sm-6 row">
                                        <label for="name" class="col-sm-6 control-label"> Economy Type<span class="text-red"> * </span> :</label>
                                        <div class="col-sm-6">                   
                                            <select class="form-control "   th:field="*{economyType}" >
                                                <option value=" "> Select one</option>
                                                <option th:each =" economyType :${economyType}"
                                                        th:value=" ${economyType.id}" 
                                                        th:text="${economyType.name}"> Select one</option>
                                            </select>
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('economyType')}" th:errors="*{economyType}">First Name Error</span>
                                        </div>                            
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6 row">
                                        <label for="name" class="col-sm-6 control-label"> Available IGA <span class="text-red">  </span> :</label>
                                        <div class="col-sm-6">                   
                                            <select class="form-control "   th:field="*{avilableIga}" multiple="multiple">
                                                <option value=" "> Select one</option>
                                                <option th:each =" avilableIga :${avilableIga}"
                                                        th:value=" ${avilableIga.name}" 
                                                        th:text="${avilableIga.name}"> Select one</option>
                                            </select>
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('avilableIga')}" th:errors="*{avilableIga}">First Name Error</span>
                                        </div>                            
                                    </div>
                                    <div class="form-group col-sm-6 row">
                                        <label for="vill" class="col-sm-3 control-label">Note<span class="text-red"></span> :</label>
                                        <div class="col-sm-9">  
                                            <div class="input-group" >
                                                <input type="text"   class="form-control  "    th:field="*{avilableIgaNote}"  />                                                        
                                            </div>                                                     
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('avilableIgaNote')}" th:errors="*{avilableIgaNote}">First Name Error</span>
                                        </div>               
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6 row">
                                        <label for="name" class="col-sm-6 control-label"> Prospective IGA <span class="text-red">  </span> :</label>
                                        <div class="col-sm-6">                   
                                            <select class="form-control "   th:field="*{prospectiveIga}"  multiple="multiple">
                                                <option value=" "> Select one</option>
                                                <option th:each =" prospectiveIga :${prospectiveIga}"
                                                        th:value=" ${prospectiveIga.name}" 
                                                        th:text="${prospectiveIga.name}"> Select one</option>
                                            </select>
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('prospectiveIga')}" th:errors="*{prospectiveIga}">First Name Error</span>
                                        </div>    
                                    </div>
                                    <div class="form-group col-sm-6 row">
                                        <label for="vill" class="col-sm-3 control-label">Note<span class="text-red"></span> :</label>
                                        <div class="col-sm-9">  
                                            <div class="input-group" >

                                                <input type="text"     class="form-control  "    th:field="*{avilableIgaNote}"  />                                                        
                                            </div>                                                     
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('avilableIgaNote')}" th:errors="*{avilableIgaNote}">First Name Error</span>
                                        </div>               
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-12 row">
                                        <label for="vill" class="col-sm-3 control-label">Unemployment Session<span class="text-red"></span> :</label>
                                        <div class="col-sm-6">  
                                            <div class="input-group" >
                                                <input type="text"     class="form-control  "    th:field="*{unemploymentSession}"  />                                                        
                                            </div>                                                     
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('unemploymentSession')}" th:errors="*{unemploymentSession}">First Name Error</span>
                                            <span  class="help-block has-error" >  Summer, Monsoon, Autumn, Late Autumn, Winter and Spring.</span>
                                        </div>               
                                    </div>
                                    <div class="form-group col-sm-12 row">
                                        <label for="name" class="col-sm-3 control-label"> Remark<span class="text-red">  </span>: </label>
                                        <div class="col-sm-8">                   
                                            <textarea type="textarea" cols="60" rows="8" class="form-control  "  id="monthlyTotalIncome"    th:field="*{REMARKS}" > </textarea>         
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('REMARKS')}" th:errors="*{REMARKS}">First Name Error</span>
                                        </div>                            
                                    </div>
                                </div>


                                <div class="text-center">
                                    <button type="submit" class="btn btn-info">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <div class="card-tools pull-right">
                            <div class="btn-group">


                            </div>
                        </div>
                    </div>
                    <!-- /.card-footer-->
                </div>
                <!-- /.card -->

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>
</div>