<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorate="admin-layout">
    <div layout:fragment = "main_content">
        <!-- Content Wrapper. Contains page content -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Pre Reintegration 
                    <small> </small>
                </h1>
            </section>
            <!-- Main content -->
            <section class="content">
                <!-- Default box -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title"><span th:text='${form_title}'>Add </span></h3>
                        <div class="box-tools pull-right">
                            <div class="btn-group">                 
                              <a  th:href="@{/pre_reintegration_visit/details/{m_id}(m_id=${m_Lifestyle_ReintegrationVisit.motherMasterCode.id})}"   type="button" class="btn  btn-warning btn-xs">Close</a>
                            </div>
                        </div>
                    </div>

                    <div class="box-body">
                        <form  th:action="@{/pre_reintegration_m_lifestyle/save/{m_id}(m_id=${m_Lifestyle_ReintegrationVisit.motherMasterCode.id})}"   th:object="${m_Lifestyle_ReintegrationVisit}"  method="post" class="form-horizontal">
                            <div class="box-body">

                                    <div class="alert alert-danger alert-dismissible" th:if="${#fields.hasErrors('*')}">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                            <h4><i class="icon fa fa-ban"></i> Error </h4>
                                            <ul th:if="${#fields.hasErrors('*')}">
                                                <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                                            </ul>
                                        </div>
                                
                                <div class="row">
                                    <input type="hidden"    class="form-control " th:field="*{id}" />
                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('id')}" th:errors="*{id}">First Name Error</span>
                                    <input type="hidden"    class="form-control " th:field="*{motherMasterCode}"   />   
                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('motherMasterCode')}" th:errors="*{motherMasterCode}">First Name Error</span>
                                </div> 

                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label for="name" class="col-sm-6 control-label"> Water Source <span class="text-red"> * </span> :</label>
                                        <div class="col-sm-6">                   
                                            <select class="form-control  "  id="bookName"  th:field="*{waterSource}" >
                                                <option value=" "> Select one</option>
                                                <option th:each =" waterSource :${waterSource}"
                                                        th:value=" ${waterSource.id}" 
                                                        th:text="${waterSource.name}"> Select one</option>
                                            </select>
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('waterSource')}" th:errors="*{waterSource}">First Name Error</span>
                                        </div>                            
                                    </div>


                                    <div class="form-group col-sm-6">
                                        <label for="name" class="col-sm-6 control-label"> Drinking Water Source<span class="text-red"> * </span> :</label>
                                        <div class="col-sm-6">                   
                                            <select class="form-control  "  id="bookName"  th:field="*{drinkingWaterSource}" >
                                                <option value=" "> Select one</option>
                                                <option th:each =" drinkingWaterSource :${drinkingWaterSource}"
                                                        th:value=" ${drinkingWaterSource.id}" 
                                                        th:text="${drinkingWaterSource.name}"> Select one</option>
                                            </select>
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('drinkingWaterSource')}" th:errors="*{drinkingWaterSource}">First Name Error</span>
                                        </div>                            
                                    </div>
                                </div>
                                
                                    <div class="form-group col-sm-6">
                                        <label for="name" class="col-sm-6 control-label">Toilet Type<span class="text-red"> * </span> :</label>
                                        <div class="col-sm-6">                   
                                            <select class="form-control  "  id="bookName"  th:field="*{toilet_type}" >
                                                <option value=" "> Select one</option>
                                                <option th:each =" toilet_type :${toilet_type}"
                                                        th:value=" ${toilet_type.id}" 
                                                        th:text="${toilet_type.name}"> Select one</option>
                                            </select>
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('toilet_type')}" th:errors="*{toilet_type}">First Name Error</span>
                                        </div>                            
                                    </div>
                         
                            
                                <div class="row">
                                   
                                        <div class="form-group col-sm-6">
                                            <label for="name" class="col-sm-6 control-label"> Cooking Fuel<span class="text-red"> * </span> :</label>
                                            <div class="col-sm-6">                   
                                                <select class="form-control  "  id="bookName"  th:field="*{cookingFuel}" >
                                                    <option value=" "> Select one</option>
                                                    <option th:each =" cookingFuel :${cookingFuel}"
                                                            th:value=" ${cookingFuel.id}" 
                                                            th:text="${cookingFuel.name}"> Select one</option>
                                                </select>
                                                <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('cookingFuel')}" th:errors="*{cookingFuel}">First Name Error</span>
                                            </div>                            
                                        </div>

                                        <div class="form-group col-sm-6">
                                            <label for="name" class="col-sm-6 control-label"> Light Source<span class="text-red"> * </span> :</label>
                                            <div class="col-sm-6">                   
                                                <select class="form-control  "  id="bookName"  th:field="*{lightSource}" >
                                                    <option value=" "> Select one</option>
                                                    <option th:each =" lightSource :${lightSource}"
                                                            th:value=" ${lightSource.id}" 
                                                            th:text="${lightSource.name}"> Select one</option>
                                                </select>
                                                <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('lightSource')}" th:errors="*{lightSource}">First Name Error</span>
                                            </div>                            
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label for="name" class="col-sm-6 control-label"> Leisure Facilities<span class="text-red"> * </span> :</label>
                                            <div class="col-sm-6">                   
                                                <select class="form-control  "  id="bookName"  th:field="*{leisurFacilities}" >
                                                    <option value=" "> Select one</option>
                                                    <option th:each =" leisurFacilities :${leisurFacilities}"
                                                            th:value=" ${leisurFacilities.id}" 
                                                            th:text="${leisurFacilities.name}"> Select one</option>
                                                </select>
                                                <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('leisurFacilities')}" th:errors="*{leisurFacilities}">First Name Error</span>
                                            </div>                            
                                        </div>

                                        <div class="form-group col-sm-6">
                                            <label for="vill" class="col-sm-6 control-label">Leisure Engagement <span class="text-red"></span> :</label>
                                            <div class="col-sm-6">  
                                                <div class="input-group" >
                                                    <input type="text"   class="form-control  "    th:field="*{leisureEngagment}"  />                                                        
                                                </div>                                                     
                                                <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('leisureEngagment')}" th:errors="*{leisureEngagment}">First Name Error</span>
                                            </div>               
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label for="name" class="col-sm-6 control-label"> Personal Habits <span class="text-red"> * </span> :</label>
                                            <div class="col-sm-6">                   
                                                <select class="form-control  "  id="bookName"  th:field="*{personalHabits}" >
                                                    <option value=" "> Select one</option>
                                                    <option th:each =" personalHabits :${personalHabits}"
                                                            th:value=" ${personalHabits.id}" 
                                                            th:text="${personalHabits.name}"> Select one</option>
                                                </select>
                                                <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('personalHabits')}" th:errors="*{personalHabits}">First Name Error</span>
                                            </div>                            
                                        </div>

                                        <div class="form-group col-sm-6">
                                            <label for="vill" class="col-sm-6 control-label">Craftsmanship <span class="text-red"></span> :</label>
                                            <div class="col-sm-6"> 
                                                <div class="input-group" >
                                                    <input type="text"   class="form-control  "    th:field="*{craftsManShip}"  />                                                        
                                                </div>                                                     
                                                <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('craftsManShip')}" th:errors="*{craftsManShip}">First Name Error</span>
                                            </div>               
                                        </div>
                                    </div>
                                
                                            <div class="row">
                                            <div class="form-group col-sm-12">
                                            <label for="vill" class="col-sm-3 control-label">Remark <span class="text-red"></span> :</label>
                                            <div class="col-sm-6"> 
                                                <div class="input-group" >
                                                     <textarea type="textarea" cols="60" rows="8" class="form-control  "  id="monthlyTotalIncome"    th:field="*{remarks}" > </textarea>                                                               
                                                </div>                                                     
                                                <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('remarks')}" th:errors="*{remarks}">First Name Error</span>
                                            </div>               
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </div>
                                </div>
                        </form>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="box-tools pull-right">
                            <div class="btn-group">


                            </div>
                        </div>
                    </div>
                    <!-- /.box-footer-->
                </div>
                <!-- /.box -->

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>
</div>