<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorate="admin-layout">
    <div layout:fragment = "main_content">
        <!-- Content Wrapper. Contains page content -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->

            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>     Pre Reintegration Visit</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">    Pre Reintegration Visit</a></li>
                                <li class="breadcrumb-item active">Pre Reintegration Visit Mother </li>

                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>


            <!-- Main content -->
            <section class="content">
                <!-- Default card -->
                <div class="card card-info">
                    <div class="card-header with-border">
                        <h3 class="card-title">Pre Reintegration Visit Mother <span th:text='${form_title}'>Add </span></h3>
                        <div class="card-tools pull-right">
                            <div class="btn-group">                 
                                <a  th:href="@{/pre_reintegration_visit/motherlist}"   type="button" class="btn btn-block btn-light text-red  btn-sm pull-right "> Close <i class="fas fa-times"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form  th:action="@{/pre_reintegration_visit/save}"  th:object="${preReintegrationVisit}"  method="post" class="form-horizontal">
                            <div class="row">
                                <input type="hidden"    class="form-control " th:field="*{id}" />
                                <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('id')}" th:errors="*{id}">First Name Error</span>
                                <input type="hidden"    class="form-control " th:field="*{motherMasterCode}"   />   
                                <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('motherMasterCode')}" th:errors="*{motherMasterCode}">First Name Error</span>
                            </div> 


                            <div class="row">
                                <div class="form-group col-sm-12 row">
                                    <label for="name"  class="col-sm-3 control-label"> Staff Name <span class="text-red"> * </span>: </label>
                                    <div class="col-sm-4">                   
                                        <input type="text"   class="form-control  "   th:field="*{visitOfficersName}" />      
                                        <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('visitOfficersName')}" th:errors="*{visitOfficersName}">First Name Error</span>
                                    </div>                            
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-12 row">
                                    <label for="co" class="col-sm-3 control-label"> Visit date <span class="text-red"> *</span> :</label>
                                    <div class="  col-sm-4">  
                                        <div class=" input-group date ">  
                                      

                                            <input type="text"   class="form-control  "   th:field="*{visitDate}"  />                
                                        </div>
                                        <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('visitDate')}" th:errors="*{visitDate}">First Name Error</span>
                                    </div>   

                                </div>

                            </div>

                            <div class="row">
                                <div class="form-group col-sm-12 row">
                                    <label for="name" class="col-sm-3 control-label"> Current Support <span class="text-red">  </span> </label>
                                    <div class="col-sm-8">                   
                                        <textarea type="textarea" cols="60" rows="8" class="form-control  "  id="monthlyTotalIncome"    th:field="*{currentSupport}" > </textarea>         
                                        <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('currentSupport')}" th:errors="*{currentSupport}">First Name Error</span>
                                    </div>                            
                                </div>
                            </div> 

                            <div class="row">
                                <div class="form-group col-sm-12 row">
                                    <label for="name" class="col-sm-3 control-label"> Identifies three challengers of mother during reintegration <span class="text-red">  </span> </label>
                                    <div class="col-sm-8">                   
                                        <textarea type="textarea" cols="60" rows="8" class="form-control  "  id="monthlyTotalIncome"    th:field="*{challengers}" > </textarea>         
                                        <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('challengers')}" th:errors="*{challengers}">First Name Error</span>
                                    </div>                            
                                </div>
                            </div> 
                            <div class="row">
                                <div class="form-group col-sm-12 row">
                                    <label for="name" class="col-sm-3 control-label"> Short term plan for solve these challenges <span class="text-red">  </span> </label>
                                    <div class="col-sm-8">                   
                                        <textarea type="textarea" cols="60" rows="8" class="form-control  "  id="monthlyTotalIncome"    th:field="*{shortTermPlan}" > </textarea>         
                                        <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('shortTermPlan')}" th:errors="*{shortTermPlan}">First Name Error</span>
                                    </div>                            
                                </div>
                            </div> 
                            <div class="row">
                                <div class="form-group col-sm-12 row">
                                    <label for="co" class="col-sm-3 control-label"> Date to resolve <span class="text-red"> *</span> :</label>
                                    <div class="  col-sm-4">  
                                        <div class=" input-group date ">  
                                        <input type="text"   class="form-control  "   th:field="*{shortTermPlanResolveDate}"  />                
                                        </div>
                                        <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('shortTermPlanResolveDate')}" th:errors="*{shortTermPlanResolveDate}">First Name Error</span>
                                    </div>   

                                </div>

                            </div>
                            <div class="row">
                                <div class="form-group col-sm-12 row">
                                    <label for="name" class="col-sm-3 control-label"> Long term plan for reintegration <span class="text-red">  </span> </label>
                                    <div class="col-sm-8">                   
                                        <textarea type="textarea" cols="60" rows="8" class="form-control  "  id="monthlyTotalIncome"    th:field="*{longTermPlan}" > </textarea>         
                                        <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('longTermPlan')}" th:errors="*{longTermPlan}">First Name Error</span>
                                    </div>                            
                                </div>
                            </div> 
                            <div class="row">
                                <div class="form-group col-sm-12 row">
                                    <label for="co" class="col-sm-3 control-label"> Date to resolve <span class="text-red"> *</span> :</label>
                                    <div class="  col-sm-4">  
                                        <div class=" input-group date ">  
                                        <input type="text"   class="form-control  "   th:field="*{longTermPlanResolveDate}"  />                
                                        </div>
                                        <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('longTermPlanResolveDate')}" th:errors="*{longTermPlanResolveDate}">First Name Error</span>
                                    </div>   

                                </div>

                            </div>
                            <div class="row">
                                <div class="form-group col-sm-12 row">
                                    <label for="name" class="col-sm-3 control-label"> Plan for further action <span class="text-red">  </span> </label>
                                    <div class="col-sm-8">                   
                                        <textarea type="textarea" cols="60" rows="8" class="form-control  "  id="monthlyTotalIncome"    th:field="*{planForFurther}" > </textarea>         
                                        <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('planForFurther')}" th:errors="*{planForFurther}">First Name Error</span>
                                    </div>                            
                                </div>
                            </div> 
                            <div class="text-center">
                                <button type="submit" class="btn btn-info">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.card -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>
</div>