<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorate="admin-layout">

    <div layout:fragment = "main_content">

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Reintegration Child List
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Reintegration Child List ( Total: <span th:text="${list.size()}"></span>) </h3>
<!--                                <a   th:href="@{/reintegration/child_entry/{m_id} (m_id=${m_id})}" type="button" class="btn  btn-warning pull-right"> Add Child </a>-->
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <table class="table table-bordered">
                                    <tr>
                                        <th> Mother  Id</th>
                                        <th> Mother Name</th>
                                        <th> Child Name</th>
                                        <th> Child Id</th>
                                        <th>Release Date</th>
                                        <th>Training</th>
                                        <th>Address</th>
                                        <th> Remark </th>
                                     
                                        <th>Delete</th>

                                    </tr>                          
                                    <tr th:each="list,status:${list}">

                                        <td th:text="${list.motherMasterCode.motherMasterCode}">Chakma</td>

                                        <td th:text="${list.motherMasterCode.motherName}">Chakma</td>

                                        <td th:text="${list.childMasterCode.name}">Chakma</td>

                                        <td th:text="${list.childMasterCode.childMasterCode}">Chakma</td>

                                        <td th:text="${list.releaseDate}" >Chakma</td>
                                        <td th:text="${list.training}" >Chakma</td>

                                        <td th:text="${list.Address}" >Chakma</td>

                                       <td th:text="${list.remark}" >Chakma</td>
                                      
                                        <td> 
                                            <a   th:href="@{/reintegration/child_delete2/{id} (id=${list.id})}" type="button" class="btn btn-xs bg-danger ">Delete</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer clearfix">

                            </div>
                        </div>
                        <!-- /.box -->

                    </div>
                    <!-- /.col -->

                    <!-- /.col -->
                </div>
            </section>
            <!-- /.content -->
        </div>
    </div>
</div>