<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorate="admin-layout">

    <div layout:fragment = "main_content">

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1> Long Term Care</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Long Term Care</a></li>
                                <li class="breadcrumb-item active">All Abandonment Child  In  Long Term Care</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-info">
                            <div class="card-header with-border">
                                <h3 class="card-title"> All Abandonment Child  In  Long Term Care of  Shisu Polli Plus Total : [[${lchildlist.size()}]]</h3>

                            </div>
                            <!-- /.card-header -->
                            <div class="card-body table-responsive ">
                                <table id="tablesdata" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th style="width: 10px">#</th>
                                            <th>Add Details</th>                                   
                                            <th>Mother master code</th>
                                            <th>Mother Name</th>
                                            <th>Child master code</th>
                                            <th>Name</th>
                                            <th>Date Of Birth </th>
                                            <th>Gender  </th>
                                            <th>Religion</th>
                                        </tr> 
                                    </thead>
                                    <tbody>
                                        <tr th:each="list,status:${lchildlist}">                                
                                            <td th:text="${status.count}">2.</td>      
                                            <td><a th:href="@{/longtremcare/index/{id}(id=${list.id})}" type="button" class="btn btn-sm  btn-info"> Add Details</a></td>
                                            <td th:text="${list.motherMasterCode.motherMasterCode}">Chakma</td>
                                            <td th:text="${list.motherMasterCode.motherName}">Chakma</td>
                                            <td th:text="${list.childMasterCode}">Chakma</td>
                                            <td th:text="${list.name}">Chakma</td>
                                            <td th:text="${list.dateOfBirth}">Chakma</td>
                                            <td th:text="${list.gender}">Chakma</td>

                                            <td th:text="${list.religion.name}">Chakma</td>

                                            <!--<td th:text="${#dates.format(list.created)}">Chakma</td>-->

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer clearfix">

                            </div>
                        </div>
                        <!-- /.card -->

                    </div>
                    <!-- /.col -->

                    <!-- /.col -->
                </div>

            </section>
            <!-- /.content -->
        </div>
    </div>
</div>