<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorate="admin-layout">
    <div layout:fragment = "main_content">
        <!-- Content Wrapper. Contains page content -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1> Long Term Care</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Long Term Care</a></li>
                                <li class="breadcrumb-item active"> Child Crisis Meet Up</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>
            <!-- Main content -->
            <section class="content">
                <!-- Default card -->
                <div class="card card-info">
                    <div class="card-header with-border">
                        <h3 class="card-title"> Child Crisis Meet Up</h3>
                          <div class="card-tools pull-right">
                                    <div class="btn-group">                 
                                        <a  th:href="@{/longtrmcare/report}"  type="button" class="btn  btn-light text-info btn-xs">Close</a>
                                    </div>
                                </div>
                    </div>

                    <div class="card-body table-responsive ">
                        <form class="row  justify-content-center mb-1" 
                              th:action="@{/childcrisismeetup/list}"   method="get">

                            <div class="col-auto">

                                <label class="" for="email">From:</label>
                            </div>
                            <div class="col-auto">
                                <div class="form-group input-group date">

                                    <input type="text"   id="startDate"  class="form-control"  name="startDate"/>
                                </div>
                            </div>
                            <div class="col-auto">
                                <label class="" for="to">To:</label>
                            </div>
                            <div class="col-auto"> 
                                <div class="form-group input-group date">

                                    <input type="text" class="form-control"  id="endDate" name="endDate"/>
                                </div>
                            </div>
                            <div class="col-auto">
                                <label class="" for="to">Gender:</label>
                            </div>
                            <div class="col-auto"> 
                                <div class="form-group input-group date">

                                    <select class="form-control"    name="gender" >
                                        <option value=" "> Select one</option>
                                        <option th:each =" genderLists :${genderList}"
                                                th:value=" ${genderLists}" 
                                                th:text="${genderLists}"> Select one</option>
                                    </select>
                                </div>
                            </div>

                            <div class=" col-auto text-center">
                                <button type="submit" class="btn btn-info ">Submit</button>
                            </div>
                        </form>   
                        <table id="tablesdata" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Details </th>
                                    <th>Child Id </th>
                                    <th>Child Name</th>
                                    <th>Date</th>
                                    <th>Location </th>
                                    <th>Reason </th>
                                    <th>Challenges</th>
                                    <th>Action</th>
                                    <th>Victim Number </th>
                                    <th>Supports </th>
                                    <th>Expected Solving Date</th>
                                    <th>Remarks </th>
                                </tr>   
                            </thead>
                            <tbody>
                                <tr th:each="lists,status:${list}">    
                                    <td th:text="${status.count}">  
                                    <td> <a   th:href="@{/longtremcare/index/{id} (id=${lists.id})}" type="button"  class="btn btn-sm  btn-info"> Details </a> </td>
                                    <td th:text="${lists.childMasterCode.childMasterCode}">  </td>

                                    <td th:text="${lists.childMasterCode.name}">  
                                    <td th:text="${lists.entrydate}">  </td>
                                    <td th:text="${lists.location}">  </td>
                                    <td th:text="${lists.reason}">  </td>
                                    <td th:text="${lists.challenge}">  </td>
                                    <td th:text="${lists.action}">  </td>
                                    <td th:text="${lists.victimnumber}">  </td>
                                    <td th:text="${lists.supports}">  </td>      
                                    <td th:text="${lists.expectedsolvingdate}">  </td>      
                                    <td th:text="${lists.remarks}">  </td>
                                </tr>
                            </tbody>
                        </table> 
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <div class="card-tools pull-right">
                            <div class="btn-group">
                            </div>
                        </div>
                    </div>
                    <!-- /.card-footer-->
                </div>
                <!-- /.card -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>
</div>