<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorate="admin-layout">

    <div layout:fragment = "main_content">

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-3">
                            <h1> Long Term Care</h1>
                        </div>
                        <div class="col-sm-8">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Long Term Care</a></li>
                                <li class="breadcrumb-item "> <a href="#"> Abandonment Child  List </a> </li>
                                <li class="breadcrumb-item "> <a href="#">Abandonment Child  Details </a></li>
                                <li class="breadcrumb-item active">Long term care child release</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>




            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-info">
                            <div class="card-header with-border">
                                <h3 class="card-title">Long term care child release </h3>
                                <div class="card-tools pull-right">
                                    <div class="btn-group">                 
                                        <a  th:href="@{/longtremcare/index/{id}(id=${releaseChild.childMasterCode.id})}"  type="button" class="btn  btn-light text-red  btn-xs  "> Close </i><i class="fas fa-times"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <form  th:action="@{/longtermcarechildrelase/child_save/{c_id}(c_id=${releaseChild.childMasterCode.id})}"  th:object="${releaseChild}"  method="post" class="form-horizontal">
                                    <div class="alert alert-danger alert-dismissible" th:if="${#fields.hasErrors('*')}">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                        <h4><i class="icon fa fa-ban"></i> Error </h4>
                                        <ul th:if="${#fields.hasErrors('*')}">
                                            <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                                        </ul>
                                    </div>
                                    <div class="row">
                                        <input type="hidden"    class="form-control " th:field="*{id}" />
                                        <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('id')}" th:errors="*{id}">First Name Error</span>
                                        <input type="hidden"    class="form-control " th:field="*{motherMasterCode}"   />   
                                        <input type="hidden"    class="form-control " th:field="*{childMasterCode}"   />

                                        <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('motherMasterCode')}" th:errors="*{motherMasterCode}">First Name Error</span>


                                    </div> 
                                    <div class="row">
                                        <div class="form-group col-sm-12 row">
                                            <label for="co" class="col-sm-3 control-label"> Reintegration date: <span class="text-red"> *</span> :</label>
                                            <div class="  col-sm-4">  
                                                <div class=" input-group date ">  
                                                    <!--                                                    <div class="input-group-addon"> 
                                                                                                            <i class="fa fa-calendar"></i>
                                                                                                        </div>-->
                                                    <input type="text"   class="form-control  "  th:required="required" th:field="*{releaseDate}"  />                
                                                </div>
                                                <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('releaseDate')}" th:errors="*{releaseDate}">First Name Error</span>
                                            </div>   
                                        </div>

                                        <div class="form-group col-sm-12 row">
                                            <label for="name" class="col-sm-3 control-label"> Class/ Training  <span class="text-red"> * </span> </label>
                                            <div class="col-sm-8">                   
                                                <textarea type="textarea" cols="20" rows="4" th:required="required" class="form-control  "  id="monthlyTotalIncome"    th:field="*{training}" > </textarea>         
                                                <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('training')}" th:errors="*{training}">First Name Error</span>
                                            </div>                            
                                        </div>


                                        <div class="form-group col-sm-12 row">
                                            <label for="name" class="col-sm-3 control-label"> Address  <span class="text-red"> * </span> </label>
                                            <div class="col-sm-8">                   
                                                <textarea type="textarea" cols="30" rows="4" th:required="required" class="form-control  "  id="monthlyTotalIncome"    th:field="*{Address}" > </textarea>         
                                                <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('Address')}" th:errors="*{Address}">First Name Error</span>
                                            </div>                            

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-12 row">
                                            <label for="name" class="col-sm-3 control-label"> Remark  <span class="text-red"> * </span> </label>
                                            <div class="col-sm-8">                   
                                                <textarea type="textarea" cols="20" rows="4" th:required="required" class="form-control  "  id="monthlyTotalIncome"    th:field="*{remark}" > </textarea>         
                                                <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('remark')}" th:errors="*{remark}">First Name Error</span>
                                            </div>                            
                                        </div>
                                    </div> 
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-info">Save</button>
                                    </div>
                                </form>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer clearfix">
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                    <!-- /.col -->
                </div>
            </section>
            <!-- /.content -->
        </div>
    </div>
</div>