<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorate="admin-layout">

    <div layout:fragment = "main_content">

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Leave </h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Leave</a></li>
                                <li class="breadcrumb-item active">Leave list of Mother</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-info">
                            <div class="card-header with-border">
                                <h3 class="card-title">Leave list of Mother. Total : [[${list.size()}]]</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body  ">

                                <div class="card-body table-responsive ">

                                    <form class="row  justify-content-center mb-1" 

                                          th:action="@{/leavemother/list}"   method="get">

                                        <div class="col-auto">
                                            <label class="" for="to">Leave Type:</label>
                                        </div>
                                        <div class="col-auto"> 
                                            <div class="form-group input-group date">

                                                <select class="form-control"    name="leaveTypeEnum" >
                                                    <option value=" "> Select one</option>
                                                    <option th:each ="leavetypes :${leavetype}"
                                                            th:value=" ${leavetypes}" 
                                                            th:text="${leavetypes}"> Select one</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class=" col-auto text-center">
                                            <button type="submit" class="btn btn-info ">Submit</button>
                                        </div>
                                    </form>  



                                    <table id="tablesdata" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th> Mother  Id</th>
                                                <th> Section name</th>
                                                <th> Leave start date</th>
                                                <th>Leave end date</th>
                                                <th>C/O</th>
                                                <th>Contact Number</th>
                                                <th>Address</th>
                                                <th>Joining Date</th>
                                                <th>Extra Days</th>
                                                <th>Remarks</th>

                                                <th>Edit</th>
                                                <th>Delete</th>

                                            </tr>  
                                        </thead>
                                        <tbody>
                                            <tr th:each="list,status : ${list}">
                                                <td th:text="${status.count}">Chakma</td>
                                                <td th:text="${list.motherMasterCode}">Chakma</td>
                                                <td th:text="${list.sectionName}">Chakma</td>
                                                <td th:text="${list.leaveFrom}">Chakma</td>
                                                <td th:text="${list.leaveTo}" >Chakma</td>
                                                <td th:text="${list.careof}" >Chakma</td>
                                                <td th:text="${list.contactNumber}" >Chakma</td>
                                                <td th:text="${list.address}" >Chakma</td>
                                                <td th:text="${list.joinningDate}" >Chakma</td>
                                                <td th:text="${list.extraDay}" >Chakma</td>
                                                <td th:text="${list.remark}">Chakma</td>


                                                <td> 
                                                    <a   th:href="@{/leavemother/edit/{id} (id=${list.leaveMotherId})}" type="button" class="btn btn-sm  btn-info">Edit</a>
                                                </td>
                                                <td> 
                                                    <a   th:href="@{/leavemother/delete/{id} (id=${list.leaveMotherId})}" type="button" class="btn btn-sm  btn-info">Delete</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>




                            </div>
                        </div>
                        <!-- /.card -->

                    </div>
                    <!-- /.col -->

                    <!-- /.col -->
                </div>

            </section>
            <!-- /.content -->
        </div>
    </div>
</div>