<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorate="admin-layout">

    <div layout:fragment = "main_content">

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Observation Report
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-info">
                            <div class="card-header with-border">
                                <h3 class="card-title">Child Health Conditions Report . Total [[${o_CHealthConditions.size()}]]</h3>
                                <div class="card-tools pull-right">
                                    <div class="btn-group">
                                        <a  th:href="@{/observationreport/observation}"  type="button" class="btn  btn-light btn-xs text-danger">Close</a>
                                    </div>
                                </div>

                            </div>
                            <!-- /.card-header -->
                            <div class="card-body table-responsive ">
                                <table id="tablesdata"  class="table table-bordered table-striped display nowrap" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Child Master Code</th>
                                            <th>Child Name</th>
                                            <th>Observation Duration/Day</th>
                                            <th> Previous Disease</th>
                                            <th> Previous Treatment</th>
                                            <th> Present Health Status</th>
                                            <th> Nutrition Status </th>
                                            <th> Height(CM) </th>
                                            <th> Weight(KG) </th>
                                            <th> Blood Pressure </th>
                                            <th> Ear Problem </th>
                                            <th> Eye Problem </th>
                                            <th> TT </th>
                                            <th> Heart Disease </th>
                                            <th> Disability </th>
                                            <th> Bony Fracture </th>
                                            <th> Note</th>
                                            <th> Neurological Disease </th>
                                            <th> Respiratory Problem  </th>
                                            <th> UTI  </th>
                                            <th> Previous Report </th>
                                            <th> Plan For Further Action </th>
                                            <th> Other Important Findings </th>
                                            <th> Edit</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="list,status:${o_CHealthConditions}">
                                            <td th:text="${status.count}">2.</td>

                                            <td th:text="${list.childMasterCode}">Chakma</td>
                                            <td th:text="${list.name}">Chakma</td>
                                            <td th:text="${list.observationDuration}">Chakma</td>
                                            <td th:text="${list.previousDisease}">Chakma</td>
                                            <td th:text="${list.previousTreatment}">Chakma</td>
                                            <td th:text="${list.presentHealthStatus}">Chakma</td>
                                            <td th:text="${list.nutritionStatus}">Chakma</td>
                                            <td th:text="${list.height}">Chakma</td>
                                            <td th:text="${list.weight}">Chakma</td>
                                            <td th:text="${list.bloodPressure}">Chakma</td>
                                            <td th:text="${list.earProblem}">Chakma</td>
                                            <td th:text="${list.eyeProblem}">Chakma</td>
                                            <td th:text="${list.tt}">Chakma</td>
                                            <td th:text="${list.heartDisease}">Chakma</td>

                                            <td th:text="${list.disability}">Chakma</td>
                                            <td th:text="${list.bonyFracture}">Chakma</td>
                                            <td th:text="${list.note}">Chakma</td>
                                            <td th:text="${list.neurologicalDisease}">Chakma</td>
                                            <td th:text="${list.respiratoryProblem}">Chakma</td>
                                            <td th:text="${list.uti}">Chakma</td>
                                            <td th:text="${list.previousReport}">Chakma</td>
                                            <td th:text="${list.planForFurtherAction}">Chakma</td>
                                            <td th:text="${list.otherImportantFindings}">Chakma</td>
                                            <td><a   th:href="@{/chealthconditions/edit/{id} (id=${list.healthConditionId})}" type="button" class="btn btn-xs bg-maroon ">Edit</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>


                        </div>
                        <!-- /.card -->

                    </div>
                    <!-- /.col -->

                    <!-- /.col -->
                </div>
            </section>
            <!-- /.content -->
        </div>
    </div>
</div>