<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorate="admin-layout">

    <div layout:fragment = "main_content">

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1> Observation</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Observation</a></li>
                                <li class="breadcrumb-item active">Health Checkup complete Mother List </li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-info">
                            <div class="card-header with-border">
                                <h3 class="card-title">Health Checkup complete Mother List <b>Total :</b> <span th:text="${list.size()}"></span></h3>

                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="card-body table-responsive ">
                                    <table id="tablesdata" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th style="width: 10px">#</th>  
                                                <th> Mother  Id</th>

                                                <th>Mother Name</th>
                                                <th>Height</th>
                                                <th>Weight</th>
                                                <th>Observation Duration/Days</th>
                                                <th>Note</th>
                                                <th>Edit</th>
                                            </tr>
                                        </thead>
                                        <tbody>                         
                                            <tr th:each="list,status:${list}">
                                                <td th:text="${status.count}">2.</td>
                                                <td th:text="${list.motherMasterCode}">Chakma</td>
                                                <td th:text="${list.motherName}">Chakma</td>
                                                <td th:text="${list.height}">Chakma</td>       
                                                <td th:text="${list.weight}">Chakma</td>
                                                <td th:text="${list.observationDuration}" >Chakma</td>
                                                <td th:text="${list.note}" >Chakma</td>
                                                <td> 
                                                    <a   th:href="@{/healthcheckup/index/{id} (id=${list.motherMasterCodeId})}" type="button" class="btn btn-xs bg-maroon ">Edit Health Checkup</a>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer clearfix">

                                </div>
                            </div>
                            <!-- /.card -->

                        </div>
                        <!-- /.col -->

                        <!-- /.col -->
                    </div>

            </section>
            <!-- /.content -->
        </div>
    </div>
</div>