<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorate="admin-layout">
    <div layout:fragment = "main_content">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" >
            <!-- Content Header (Page header) -->          
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>CMS support</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">CMS support</a></li>
                                <li class="breadcrumb-item active">Look Up Data</li>

                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>


            <!-- Main content -->
            <section class="content">

                <div class="card card-info">
                    <div class="card-header with-border">
                        <h3 class="card-title">Rehabilitations  and Others</h3>

                        <div class="card-tools pull-right">
                            <div class="btn-group">

                            </div>
                        </div>
                    </div>
                    <div class="card-body col-sm-6">                                     

                        <!--                            <a  th:href="@{#}" type="button" class="btn btn-block btn-danger">  Indicator Name </a>
                        
                                                    <a  th:href="@{#}" type="button" class="btn btn-block btn-danger">  Indicator Mark </a>
                                                    <a  th:href="@{#}" type="button" class="btn btn-block btn-danger"> Outreach type</a>
                                                    <a  th:href="@{#}" type="button" class="btn btn-block btn-danger">  Participant</a>-->
                        <a  th:href="@{/housename/index}" type="button" class="btn btn-block btn-info">    House Name      </a>
                        <a  th:href="@{/trainingname/index}" type="button" class="btn btn-block btn-info">   Training Name    </a>
                        <!--                            <a  th:href="@{/pain/index}" type="button" class="btn btn-block btn-danger">   Pain </a>-->
                        <a  th:href="@{/tenderness/index}" type="button" class="btn btn-block btn-info">  Tenderness</a>

                    </div>


                    <div class="card-body col-sm-6">                                     
                        <!--                            <a  th:href="@{#}" type="button" class="btn btn-block btn-danger">   NUTRITION STATUS    </a>-->
                        <!--                            <a  th:href="@{#}" type="button" class="btn btn-block btn-danger">   PLAN FURTHER ACTION      </a>-->

                        <!--                            <a  th:href="@{#}" type="button" class="btn btn-block btn-danger">    Job type     </a>-->
                        <!--                            <a  th:href="@{/degenerative/index}" type="button" class="btn btn-block btn-danger">   Degenerative Diseases    </a>
                                                    <a  th:href="@{/mucsuloskeletal/index}" type="button" class="btn btn-block btn-danger">  Musculoskeletal   </a>-->

                        <a  th:href="@{/jointmobility/index}" type="button" class="btn btn-block btn-info">  Joint Mobility</a>
                        <a  th:href="@{/sessiontype/index}" type="button" class="btn btn-block btn-info">   Therapeutic  Session    </a>
                        <a  th:href="@{/diagonosis/index}" type="button" class="btn btn-block btn-info">   Therapeutic   Diagnosis    </a>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <div class="card-tools pull-right">
                            <div class="btn-group">

                            </div>
                        </div>
                    </div>
                    <!-- /.card-footer-->
                </div>      




            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>
</div>