<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorate="admin-layout">
    <div layout:fragment = "main_content">
        <!-- Content Wrapper. Contains page content -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
                <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1> Home Visit</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Home Visit</a></li>
                                <li class="breadcrumb-item "><a href="#">All Inserted Mother List</a></li>
                                <li class="breadcrumb-item active">View</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>
            
            
            <!-- Main content -->
            <section class="content">
                <!-- Default card -->
                <div class="card card-info">
                    <div class="card-header with-border">
                        <h3 class="card-title">Mother Details View</h3>
                        <div class="card-tools pull-right">
                            <div class="btn-group ">                 
                                <a  th:href="@{/mothermasterdata/index}"  type="button" class="btn  btn-sm  btn-success">Close</a>
                                <a   th:href="@{/mothermasterdata/edit/{id} (id=${motherMasterData.id})}" type="button" class="btn btn-sm btn-light text-info ">Edit</a>
                                <a   th:href="@{/mothermasterdata/delete/{id} (id=${motherMasterData.id})}" type="button" class="btn  btn-sm  bg-danger ">Delete</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body row">
                        <div class="form-group col-sm-6 row">
                            <label for="visitOfficersName" class="col-sm-5 control-label"> <b>Home Visit Officer Name:</b></label>
                            <div class="col-sm-7">    
                                <span th:inline="text"> [[${motherMasterData.visitOfficersName }]]  </span>
                                <!--                                            <span th:inline="text"> [[${motherMasterData.id }]]  </span>  -->
                            </div>                            
                        </div>
                        <div class="form-group col-sm-6 row">
                            <label for="name" class="col-sm-4 control-label">  <b>Referral Date :</b></label>
                            <div class="col-sm-8">  
                                <span th:inline="text"> [[${motherMasterData.dateReferral }]]</span>
                            </div>
                        </div>
                        <div class="row "> &nbsp;  </div>
                        <div class="form-group col-sm-6 row">
                            <label for="name" class="col-sm-4 control-label"> <b> Referred From : </b></label>
                            <div class="col-sm-8"> 
                                <span th:inline="text"> [[${motherMasterData.referredFrom }]]</span>
                            </div>                            
                        </div>

                        <div class="form-group col-sm-6 row">
                            <label for="name" class="col-sm-3 control-label"><b> Reasons:</b> </label>
                            <div class="col-sm-6">  
                                <span th:inline="text"> [[${motherMasterData.resons.name }]]</span>
                            </div>                            
                        </div>

                        <div class="row "> &nbsp;  </div>

                        <div class="form-group col-sm-6 row">
                            <label for="name" class="col-sm-4 control-label"> <b>Home Visit Date :</b></label>
                            <div class="col-sm-8">  
                                <span th:inline="text"> [[${motherMasterData.homeVisitDate}]]</span>

                            </div>               
                        </div>

                        <div class="form-group col-sm-6 row">
                            <label for="name" class="col-sm-3 control-label"><b> ID :</b></label>
                            <div class="col-sm-8">    
                                <span th:inline="text"> [[${motherMasterData.motherMasterCode}]]</span>

                            </div>                            
                        </div>


                        <div class="row"> &nbsp;  </div>

                        <div class="form-group col-sm-6 row">
                            <label for="name" class="col-sm-4 control-label"> <b>Name:</b></label>
                            <div class="col-sm-8">  
                                <span th:inline="text"> [[${motherMasterData.motherName}]]</span>

                            </div>                            
                        </div>

                        <div class="form-group col-sm-6 row">
                            <label for="name" class="col-sm-3 control-label"> <b>Date of Birth :</b></label>
                            <div class="col-sm-8"> 
                                <span th:inline="text"> [[${motherMasterData.dateOfBirth}]]</span>
                            </div>                            
                        </div>


                        <div class="row "> &nbsp;  </div>

                        <div class="form-group col-sm-6 row">
                            <label for="name" class="col-sm-4 control-label"> <b>Mothers Name :</b></label>
                            <div class="col-sm-8">        
                                <span th:inline="text"> [[${motherMasterData.mMothersName}]]</span>

                            </div>                            
                        </div>
                        <div class="form-group col-sm-6 row">
                            <label for="name" class="col-sm-3 control-label"> <b>Fathers Name :</b></label>
                            <div class="col-sm-8">             
                                <span th:inline="text"> [[${motherMasterData.fathersName}]]</span>

                            </div>                            
                        </div>
                        <div class="form-group col-sm-6 row">
                            <label for="name" class="col-sm-4 control-label"> <b>Religion :</b></label>
                            <div class="col-sm-6">                   
                                <span th:inline="text"> [[${motherMasterData.religion.name}]]</span>
                            </div>                            
                        </div>
                        <div class="form-group col-sm-6 row">
                            <label for="name" class="col-sm-3 control-label"> <b>Marital Status :</b></label>
                            <div class="col-sm-6">                   
                                <span th:inline="text"> [[${motherMasterData.maritalStatus.name}]]</span>
                            </div>                            
                        </div>

                        <div class="row "> &nbsp;  </div>

                        <div class="form-group col-sm-6 row">
                            <label for="name" class="col-sm-4 control-label"> <b>Husband's Name:</b></label>
                            <div class="col-sm-8">   
                                <span th:inline="text"> [[${motherMasterData.husbandsName}]]</span>
                            </div>                            
                        </div>
                        <div class="form-group col-sm-6 row">
                            <label for="name" class="col-sm-4 control-label"> <b>Husband's Status :</b></label>
                            <div class="col-sm-6">            
                                <span th:inline="text"> [[${motherMasterData.husbandsStatus.name}]]</span>
                            </div>                            
                        </div>

                        <div class="row "> &nbsp;  </div>
                        <div class="form-group col-sm-6 row">
                            <label for="name" class="col-sm-6 control-label">  <b>Prime Family Member Name  :</b> </label>
                            <div class="col-sm-6">     
                                <span th:inline="text"> [[${motherMasterData.primeFamilyMemberName}]]</span>
                            </div>                            
                        </div>
                        <div class="form-group col-sm-6 row">
                            <label for="name" class="col-sm-3 control-label"> <b>Relation:</b></label>
                            <div class="col-sm-6">   
                                <span th:inline="text"> [[${motherMasterData.relationWithPfm.name}]]</span>
                            </div>                            
                        </div>
                        <div class="row "> &nbsp;  </div>
                        <div class="form-group col-sm-6 row">
                            <label for="name" class="col-sm-6 control-label"> <b>Ethnic Identity:</b></label>
                            <div class="col-sm-6">                   
                                <span th:inline="text"> [[${motherMasterData.ethnicIdentity.name}]]</span>
                            </div>  
                        </div>
                        <div class="form-group col-sm-6 row">
                            <label for="name" class="col-sm-6 control-label"><b> Education Level  :</b></label>
                            <div class="col-sm-6">                   

                                <span th:inline="text"> [[${motherMasterData.educationLevel.name}]]</span>
                            </div>     

                        </div>
                        <div class="row "> &nbsp;  </div>
                        <div class="form-group col-sm-6 row">
                            <label for="name" class="col-sm-6 control-label"><b> Education Type :</b></label>
                            <div class="col-sm-6">                   
                                <span th:inline="text"> [[${motherMasterData.educationType.name}]]</span>

                            </div>    

                        </div>
                        <div class="form-group col-sm-6 row">
                            <label for="name" class="col-sm-6 control-label"><b> Occupation :</b></label>
                            <div class="col-sm-6">            

                                <span th:inline="text"> [[${motherMasterData.occupation.name}]]</span>
                            </div>                            
                        </div>
                        <div class="row "> &nbsp;  </div>

                        <div class="form-group col-sm-12 row">
                            <label for="name" class="col-sm-3 control-label"> <b>Physical Status :</b></label>
                            <div class="col-sm-12">   
                                <span th:inline="text"> [[${motherMasterData.physicalStatus}]]</span>
                            </div>                            
                        </div>

                        <div class="form-group col-sm-12 row">
                            <label for="name" class="col-sm-4 control-label"> <b>Immunization :</b></label>
                            <div class="col-sm-12">      
                                <span th:inline="text"> [[${motherMasterData.immunization}]]</span>
                            </div>                            
                        </div>
                        <div class="row "> &nbsp;  </div>

                        <div class="form-group col-sm-4 row">
                            <label for="name" class="col-sm-5 control-label"> <b>Number of Sons:</b> </label>
                            <div class="col-sm-1">     
                                <span th:inline="text"> [[${motherMasterData.numberOfSons}]]</span>

                            </div>                            
                        </div>
                        <div class="form-group col-sm-4 row">
                            <label for="name" class="col-sm-7 control-label"> <b>Number Of Daughters :</b></label>
                            <div class="col-sm-3">           
                                <span th:inline="text"> [[${motherMasterData.numberOfDaughters}]]</span>

                            </div>                            
                        </div>
                        <div class="form-group col-sm-4 row">
                            <label for="name" class="col-sm-9 control-label">  <b>Number Of Eligible Children :</b> </label>
                            <div class="col-sm-3">  
                                <span th:inline="text"> [[${motherMasterData.numberOfEligibleChildren}]]</span>
                            </div>                            
                        </div>
                        <div class="row "> &nbsp;  </div>

                        <div class="form-group  col-sm-12 row">
                            <label for="name" class="col-sm-3 control-label"><b> Major Findings :</b></label>
                            <div class="col-sm-12">          
                                <span th:inline="text"> [[${motherMasterData.majorFindings}]]</span>
                            </div>                            
                        </div>

                        <div class="form-group col-sm-12 row">
                            <label for="name" class="col-sm-3 control-label"> <b>Other Remarks :</b></label>
                            <div class="col-sm-12">        
                                <span th:inline="text"> [[${motherMasterData.otherRemarks}]]</span>
                            </div>                            

                        </div>

                        <div class="row "> &nbsp;  </div>

                        <div class="form-group col-sm-12 row">
                            <label for="name" class="col-sm-3 control-label"><b> Investigator recommendation :</b></label>
                            <div class="col-sm-2">    
                                <span th:inline="text"> [[${motherMasterData.eligibility}]]</span>
                                <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('eligibility')}" th:errors="*{eligibility}">First Name Error</span>
                            </div>                            
                        </div>
                    </div>
                    <div class="card-body">



<!--                        <table class="table table-bordered">
                            <tr class="bg-maroon">
                                <th> Section Name : Home Visit</th> 
                                <th> Data Size</th>

                            </tr>
                            <tr>
                                <td> 1.Mother Address </td> 
                                <td> <span th:inline="text"> [[${motherMasterData.mAddress.size()}]]</span></td>
                            </tr>

                            <tr>
                                <td> 2.Mother House Information </td> 
                                <td> 
                                    <span   th:if="${ not #strings.isEmpty(motherMasterData.mHouseInformation)}" > 1 </span>
                                    <span   th:if="${#strings.isEmpty(motherMasterData.mHouseInformation)}" > 0 </span>
                                </td>
                            </tr>

                            <tr>
                                <td> 3.Per Capita Income </td> 
                                <td> 
                                    <span   th:if="${ not #strings.isEmpty(motherMasterData.mIncomeInformation)}" > 1 </span>
                                    <span   th:if="${#strings.isEmpty(motherMasterData.mIncomeInformation)}" > 0 </span>

                                </td>
                            </tr>

                            <tr>
                                <td>4.Property </td> 
                                <td> 
                                    <span   th:if="${ not #strings.isEmpty(motherMasterData.mProperty)}" > 1 </span>
                                    <span   th:if="${#strings.isEmpty(motherMasterData.mProperty)}" > 0 </span>


                                </td>
                            </tr>

                            <tr>
                                <td>5.Current Support </td> 
                                <td>
                                    <span th:inline="text"> [[${motherMasterData.mCurrentHelp.size()}]]</span></td>
                            </tr>

                            <tr>
                                <td> 6.Community Information</td> 
                                <td> 

                                    <span   th:if="${ not #strings.isEmpty(motherMasterData.mCommunityInformation)}" > 1 </span>
                                    <span   th:if="${#strings.isEmpty(motherMasterData.mCommunityInformation)}" > 0 </span>

                                </td>
                            </tr>

                            <tr>
                                <td>7.Accessibility</td> 
                                <td> 
                                    <span   th:if="${ not #strings.isEmpty(motherMasterData.mAccessibility)}" > 1 </span>
                                    <span   th:if="${#strings.isEmpty(motherMasterData.mAccessibility)}" > 0 </span>
                                </td>
                            </tr>

                            <tr>
                                <td>8. Lifestyle</td> 
                                <td> <span   th:if="${ not #strings.isEmpty(motherMasterData.mLifestyle)}" > 1 </span>
                                    <span th:if="${#strings.isEmpty(motherMasterData.mLifestyle)}" > 0 </span></td>
                            </tr>

                            <tr>
                                <td>9.Nutrition</td> 
                                <td> 
                                    <span   th:if="${ not #strings.isEmpty(motherMasterData.mNutrition)}" > 1 </span>
                                    <span   th:if="${#strings.isEmpty(motherMasterData.mNutrition)}" > 0 </span>
                                </td>
                            </tr>

                            <tr>
                                <td> 10.Local Govt Facilities</td> 
                                <td> 
                                    <span   th:if="${ not #strings.isEmpty(motherMasterData.mLocalGovtFacilities)}" > 1 </span>
                                    <span   th:if="${#strings.isEmpty(motherMasterData.mLocalGovtFacilities)}" > 0 </span> 

                                </td>
                            </tr>
                            <tr>
                                <td>11.Family Information</td> 
                                <td> <span th:inline="text"> [[${motherMasterData.mFamilynformation.size()}]]</span></td>
                            </tr>

                            <tr>
                                <td> 12.Approval </td> 
                                <td> 
                                    <span   th:if="${ not #strings.isEmpty(motherMasterData.mApproval)}" > 1 </span>
                                    <span   th:if="${#strings.isEmpty(motherMasterData.mApproval)}" > 0 </span> 

                                </td>
                            </tr>
                            <tr>
                                <td> 13 Children </td> 
                                <td> <span th:inline="text"> [[${motherMasterData.mChildinfo.size()}]]</span></td>
                            </tr>

                            <tr class="bg-maroon">
                                <th> Section Name : Observation</th> 
                                <th> Data Size</th>

                            </tr>
                            <tr>
                                <td>14.Induction</td> 
                                <td>  <span   th:if="${ not #strings.isEmpty(motherMasterData.oInduction)}" > 1 </span>
                                    <span   th:if="${#strings.isEmpty(motherMasterData.oInduction)}" > 0 </span> </td>
                            </tr>

                            <tr>
                                <td>15. Mother Health Condition </td> 
                                <td> <span   th:if="${ not #strings.isEmpty(motherMasterData.oMHealthConditions)}" > 1 </span>
                                    <span   th:if="${#strings.isEmpty(motherMasterData.oMHealthConditions)}" > 0 </span></td>
                            </tr>

                            <tr>
                                <td>16. Professional Observation Mother  </td> 
                                <td><span   th:if="${ not #strings.isEmpty(motherMasterData.oProfessionalObserbationsMother)}" > 1 </span>
                                    <span   th:if="${#strings.isEmpty(motherMasterData.oProfessionalObserbationsMother)}" > 0 </span></td>
                            </tr>

                            <tr>
                                <td>17. In House induction </td> 
                                <td> <span   th:if="${ not #strings.isEmpty(motherMasterData.oInhouseInductionsMother)}" > 1 </span>
                                    <span   th:if="${#strings.isEmpty(motherMasterData.oInhouseInductionsMother)}" > 0 </span></td>
                            </tr>

                            <tr>
                                <td> 18. Mother  Admission</td> 
                                <td> <span   th:if="${ not #strings.isEmpty(motherMasterData.addmission)}" > 1 </span>
                                    <span   th:if="${#strings.isEmpty(motherMasterData.addmission)}" > 0 </span></td>
                            </tr>

                            <tr>
                                <td> 19. Mother  Image</td> 
                                <td> <span   th:if="${ not #strings.isEmpty(motherMasterData.mImage)}" > 1 </span>
                                    <span   th:if="${#strings.isEmpty(motherMasterData.mImage)}" > 0 </span></td>
                            </tr>



                            <tr class="bg-maroon">
                                <th> Section Name Rehabilitations </th> 
                                <th> Data Size</th>

                            </tr>

                            <tr>
                                <td> 20. Mother House Allocations </td> 
                                <td> <span   th:if="${ not #strings.isEmpty(motherMasterData.rMHousAllocation)}" > 1 </span>
                                    <span   th:if="${#strings.isEmpty(motherMasterData.rMHousAllocation)}" > 0 </span></td>
                            </tr>

                            <tr>
                                <td> 21. Mother Work Allocations </td> 
                                <td> <span th:inline="text"> [[${motherMasterData.rMWorkAllocation.size()}]]</span></td>
                            </tr>

                            <tr>
                                <td> 22. Mother Occupational Therapy Session  </td> 
                                <td> <span th:inline="text"> [[${motherMasterData.rOT.size()}]]</span></td>
                            </tr>

                            <tr>
                                <td> 23. Mother Physical Therapy Session   </td> 
                                <td> <span th:inline="text"> [[${motherMasterData.rPT.size()}]]</span></td>
                            </tr>

                            <tr>
                                <td> 24. Psychology   </td> 
                                <td> <span th:inline="text"> [[${motherMasterData.rPsychologyMother.size()}]]</span></td>
                            </tr>

                            <tr>
                                <td> 25. Mother Life Skill/Universal Training   </td> 
                                <td> <span th:inline="text"> [[${motherMasterData.rLifeSkillTrainning.size()}]]</span></td>
                            </tr>

                            <tr>
                                <td> 26. Mother IGA Training    </td> 
                                <td> <span th:inline="text"> [[${motherMasterData.rIGATraining.size()}]]</span></td>
                            </tr>

                            <tr class="bg-maroon">
                                <th> Section Name : Clinic </th> 
                                <th> Data Size</th>

                            </tr>

                            <tr>
                                <td> 27. Daily Visit    </td> 
                                <td> <span th:inline="text"> [[${motherMasterData.cvisit.size()}]]</span></td>
                            </tr>

                            <tr>
                                <td> 28. Referral    </td> 
                                <td> <span th:inline="text"> [[${motherMasterData.cReferral.size()}]]</span></td>
                            </tr>

                            <tr>
                                <td> 29. Clinic Admission   </td> 
                                <td> <span th:inline="text"> [[${motherMasterData.cAdmission.size()}]]</span></td>
                            </tr>

                            <tr>
                                <td> 30. Clinic Release  </td> 
                                <td> <span th:inline="text"> [[${motherMasterData.cRelease.size()}]]</span></td>
                            </tr>

                            <tr class="bg-maroon">
                                <th> Section Name : Mother Pre-Reintegration </th> 
                                <th> Data Size</th>

                            </tr>
                            <tr>
                                <td> 31. Pre-Reintegration </td> 
                                <td> <span   th:if="${ not #strings.isEmpty(motherMasterData.preReintegrationVisit)}" > 1 </span>
                                    <span   th:if="${#strings.isEmpty(motherMasterData.preReintegrationVisit)}" > 0 </span></td>
                            </tr>



                            <tr>
                                <td> 32. Mother Address  </td> 
                                <td> <span th:inline="text"> [[${motherMasterData.mAddressReintegrationVisit.size()}]]</span></td>
                            </tr>

                            <tr>
                                <td> 33. Mother House Information  </td> 
                                <td> <span th:inline="text"> [[${motherMasterData.mHouseInformationReintegrationVisit.size()}]]</span></td>
                            </tr>

                            <tr>
                                <td> 34. Community Information  </td> 
                                <td> <span th:inline="text"> [[${motherMasterData.mCommunityInformationReintegrationVisit.size()}]]</span></td>
                            </tr>

                            <tr>
                                <td> 35. Accessibility </td> 
                                <td> <span th:inline="text"> [[${motherMasterData.mAccessibilityReintegrationVisit.size()}]]</span></td>
                            </tr>

                            <tr>
                                <td> 36. Lifestyle </td> 
                                <td> <span th:inline="text"> [[${motherMasterData.mLifestyleReintegrationVisit.size()}]]</span></td>
                            </tr>

                            <tr>
                                <td> 37. Family Information </td> 
                                <td> <span th:inline="text"> [[${motherMasterData.mFamilyinformationReintegrationVisit.size()}]]</span></td>
                            </tr>

                            <tr class="bg-maroon">
                                <th> Section Name: Reintegration Check List  </th> 
                                <th> Data Size</th>

                            </tr>

                            <tr>
                                <td> 38. Reintegration Check List </td> 
                                <td> <span   th:if="${ not #strings.isEmpty(motherMasterData.reintegrationCheckList)}" > 1 </span>
                                    <span   th:if="${#strings.isEmpty(motherMasterData.reintegrationCheckList)}" > 0 </span></td>
                            </tr>

                            <tr class="bg-maroon">
                                <th> Section Name: Reintegration   </th> 
                                <th> Data Size</th>

                            </tr>

                            <tr>
                                <td> 39. Reintegration </td> 
                                <td> <span   th:if="${ not #strings.isEmpty(motherMasterData.releaseMother)}" > 1 </span>
                                    <span   th:if="${#strings.isEmpty(motherMasterData.releaseMother)}" > 0 </span></td>
                            </tr>


                            <tr class="bg-maroon">
                                <th> Section Name:  Follow Up  </th> 
                                <th> Data Size</th>

                            </tr>


                            <tr>
                                <td> 40. Follow Up </td> 
                                <td> <span th:inline="text"> [[${motherMasterData.followUpMother.size()}]]</span></td>
                            </tr>

                            <tr>
                                <td> 41. Mother Crisis Meet Up </td> 
                                <td> <span th:inline="text"> [[${motherMasterData.followMotherPerCapitaIncome.size()}]]</span></td>
                            </tr>

                            <tr>
                                <td> 42. Mother Crisis Meet Up </td> 
                                <td> <span th:inline="text"> [[${motherMasterData.motherCrisisMeetUp.size()}]]</span></td>
                            </tr>

                        </table>-->




                    </div>

                    <!-- /.card-body -->
                    <div class="card-footer">
                        <div class="card-tools pull-right">
                            <div class="btn-group">


                            </div>
                        </div>
                    </div>
                    <!-- /.card-footer-->
                </div>
                <!-- /.card -->

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>
</div>