<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorate="admin-layout">

    <div layout:fragment = "main_content">

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-5">
                            <h1>Observation</h1>
                        </div>
                        <div class="col-sm-7">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Observation</a></li>
                                <li class="breadcrumb-item">New Mother List For Add Image </li>
                                <li class="breadcrumb-item active">Image Mother and Child </li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card card-info">
                            <div class="card-header with-border">
                                <h3 class="card-title">Mother Image </h3>
                                <div class="card-tools">
                                    <a   th:href="@{/image/create/{m_id}(m_id=${minfo})}" type="button" class="btn btn-block btn-light  btn-sm pull-right text-info"> Add</a>
                                </div> 
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <!-- 
                                <img  class="img-responsive" th:src="@{/files/amenakatun.jpg}"   />
                                <img  class="img-responsive" th:src="@{/images/google-ads.png}"/>
                                -->
                                <table class="table table-bordered">
                                    <tr>
                                        <th style="width: 10px">#</th> 

                                        <!--                                        <th> Id</th>-->
                                        <th>Mother Master Code</th>
                                        <th>Image</th>
                                        <th>Delete</th>
                                    </tr>                          
                                    <tr th:each="mimage,status:${mimage}">
                                        <td th:text="${status.count}">2.</td>

                                        <!--    <td th:text="${mimage.id}">Chakma</td>-->
                                        <td th:text="${mimage.motherMasterCode.motherMasterCode}">Chakma</td>
                                        <td> <img  class="img-responsive" th:src="@{/files/}+${mimage.imageName}" width="150px" height="150px" /> </td>

                                        <td><a   th:href="@{/image/delete/{id} (id=${mimage.id})}" type="button" class="btn btn-xs bg-danger ">Delete</a></td>
                                    </tr>
                                </table>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer clearfix">

                            </div>
                        </div>
                        <!-- /.card -->
                        <div class="card card-info">
                            <div class="card-header with-border">
                                <h3 class="card-title">Child Image </h3>
                                <div class="card-tools">
                                    <a   th:href="@{/childimage/create/{m_id}(m_id=${minfo})}" type="button" class="btn btn-block btn-light  btn-sm pull-right text-info"> Add</a>
                                </div>  
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <!-- 
                                <img  class="img-responsive" th:src="@{/files/amenakatun.jpg}"   />
                                <img  class="img-responsive" th:src="@{/images/google-ads.png}"/>
                                -->


                                <table class="table table-bordered">
                                    <tr>
                                        <th style="width: 10px">#</th> 
                                        <th>Delete</th>
                                        <th>Mother Master Code</th>
                                        <th>Child Master Code</th>
                                        <th>Image</th>
                                    </tr>                          
                                    <tr th:each="cimage,status:${cimage}">
                                        <td><a   th:href="@{/childimage/delete/{id} (id=${cimage.id})}" type="button" class="btn btn-xs bg-maroon ">Delete</a></td>
                                        <td th:text="${cimage.id}">Chakma</td>
                                        <td th:text="${cimage.motherMasterCode.motherMasterCode}">Chakma</td>
                                        <td th:text="${cimage.childMasterCode.childMasterCode}">Chakma</td>
                                        <td> <img  class="img-responsive" th:src="@{/files/childimage/}+${cimage.imageName}" width="150px" height="150px" /> </td>
                                    </tr>
                                </table>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer clearfix">

                            </div>
                        </div>
                    </div>
                    <!-- /.col -->

                    <!-- /.col -->
                </div>
                <!--                <div class="row">
                
                                    <div class="col-sm-12">
                                        <div class="card card-primary">
                                            <div class="card-header with-border">
                                                <h3 class="card-title">Child Images </h3>
                                                <a   th:href="@{/admission/create/{id}(id=${minfo})}"  type="button" class="btn  btn-warning pull-right"> Add Child Image</a>
                                            </div>
                                             /.card-header 
                                            <div class="card-body">
                                                <table class="table table-bordered">
                                                    <tr>
                                                        <th style="width: 10px">#</th>  
                
                                                        <th>Add Details</th>
                                                        <th>Home Visit Date</th>
                                                        <th>  Id</th>
                                                        <th> Mother Name</th>
                                                        <th>Date of Birth</th>
                                                        <th>Number of Eligible Children</th>
                                                        <th>Status</th>
                                                    </tr>                          
                                                    <tr th:each="list,status:${list}">
                                                        <td th:text="${status.count}">2.</td>
                                                        <td> 
                                                            <a   th:href="@{/motherdetails/motherdetails/{id} (id=${list.id})}" type="button" class="btn btn-xs bg-maroon ">Add Details</a>
                                                        </td>
                                                        <td th:text="${list.homeVisitDate}">Chakma</td>
                                                        <td th:text="${list.motherMasterCode}">Chakma</td>
                                                        <td th:text="${list.motherName}">Chakma</td>
                                                        <td th:text="${list.dateOfBirth}">Chakma</td> 
                                                        <td th:text="${list.numberOfEligibleChildren}">Chakma</td>
                                                        <td th:text="${list.eligibility}">Chakma</td>
                                                    </tr>
                                                </table>
                                            </div>
                                             /.card-body 
                                            <div class="card-footer clearfix">
                
                                            </div>
                                        </div>
                                         /.card 
                                    </div>
                                     /.col 
                                     /.col 
                                </div>-->
            </section>
            <!-- /.content -->
        </div>
    </div>
</div>