<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorate="admin-layout">
    <div layout:fragment="main_content">
        <!-- Content Wrapper. Contains page content -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-3">
                            <h1>Clinic </h1>
                        </div>
                        <div class="col-sm-9">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Clinic</a></li>
                                <li class="breadcrumb-item "><a href="#">Nutritional Status New</a></li>
                                <li class="breadcrumb-item active">Nutritional Status Details</li>
                                <li class="breadcrumb-item active">Add Mother Nutritional Status Details</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>
            <!-- Main content -->
            <section class="content">
                <!-- Default card -->
                <div class="card card-info">
                    <div class="card-header with-border">
                        <h3 class="card-title">
                            Add Mother Nutritional Status
                        </h3>
                        <div class="card-tools pull-right">
                            <div class="btn-group">
                                <a
                                    th:href="@{/nutritionalstatus/index/{id}(id=${c_NutritionalStatus.motherMasterCode.id})}"
                                    type="button" class="btn  btn-light text-red  btn-xs  "> Close </i><i class="fas fa-times"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <form
                            th:action="@{/nutritionalstatus/mothersave/{id}(id=${c_NutritionalStatus.motherMasterCode.id})}"
                            th:object="${c_NutritionalStatus}" method="post"
                            class="form-horizontal">

                            <input type="hidden" class="form-control " th:field="*{id}" />

                            <input type="hidden" class="form-control "
                                   th:field="*{motherMasterCode}" id="motherMasterCode"
                                   name="motherMasterCode" th:value="motherMasterCode" /> <span
                                   class="help-block has-error text-red"
                                   th:if="${#fields.hasErrors('motherMasterCode')}"
                                   th:errors="*{motherMasterCode}">First Name Error</span>


                            <div class="row">
                                <div class="form-group col-sm-12 row">
                                    <label for="co" class="col-sm-2 control-label"> Mothers
                                        Name :<span class="text-red"> * </span>
                                    </label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control  " id="co"
                                               th:field="*{name}" /> <span
                                               class="help-block has-error text-red"
                                               th:if="${#fields.hasErrors('name')}" th:errors="*{name}">First
                                            Name Error</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-12 row">
                                    <label for="name" class="col-sm-2 control-label">
                                        Admission Date :<span class="text-red"> * </span>
                                    </label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control  "
                                               th:field="*{admissionDate}"  placeholder="dd-mm-yyyy" id="startDate"/> 
                                        
                                        <span
                                               class="help-block has-error text-red"
                                               th:if="${#fields.hasErrors('admissionDate')}"
                                               th:errors="*{admissionDate}">First Name Error</span>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="form-group col-sm-12 row">
                                    <label for="name" class="col-sm-2 control-label">Date
                                        of Birth:<span class="text-red">* </span>
                                    </label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control  "
                                                th:field="*{dob}"  placeholder="dd-mm-yyyy" id="dateofBirth" />
                                        <span class="help-block has-error text-red"
                                              th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}">First
                                            Name Error</span>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="form-group col-sm-12 row">
                                    <label for="name" class="col-sm-2 control-label"> Entry

                                        Date :<span class="text-red"> * </span>
                                    </label>
                                    <div class="col-sm-3">
                                        <div class="input-group date" >
<!--                                            <div class="input-group-addon" > 
                                                <i class="fa fa-calendar"></i>
                                            </div>-->

                                            <input type="text" class="form-control  "
                                                   th:field="*{entryDate}"  
                                                   placeholder="dd-mm-yyyy" 
                                                   id="entrydate" />
                                            
                                            <span
                                                   class="help-block has-error text-red"
                                                   th:if="${#fields.hasErrors('entryDate')}"
                                                   th:errors="*{entryDate}">First Name Error</span>
                                        </div>

                                    </div>

                                </div>
                            </div>




                            <div class="row">
                                <div class="form-group col-sm-12 row">
                                    <label for="name" class="col-sm-2 control-label">
                                        Height :<span class="text-red"> * </span>
                                    </label>
                                    <div class="col-sm-2">
                                        <input type="number" min="0" class="form-control  "
                                               id="monthlyTotalIncome" th:field="*{height}" /> <span
                                               class="help-block has-error text-red"
                                               th:if="${#fields.hasErrors('height')}" th:errors="*{height}">First
                                            Name Error</span>
                                    </div>
                                    <div>cm</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-12 row">
                                    <label for="co" class="col-sm-2 control-label"> Weight
                                        :<span class="text-red"> * </span>
                                    </label>
                                    <div class="col-sm-2">
                                        <input type="number" min="0" class="form-control  " id="co"
                                               th:field="*{weight}" /> <span
                                               class="help-block has-error text-red"
                                               th:if="${#fields.hasErrors('weight')}" th:errors="*{height}">First
                                            Name Error</span>
                                    </div>
                                    <div>cm</div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-12 row">
                                    <label for="co" class="col-sm-2 control-label"> BIM :<span
                                            class="text-red"> * </span>
                                    </label>
                                    <div class="col-sm-2">
                                        <input type="number" min="0" class="form-control  " id="co"
                                               th:field="*{bmi}" /> <span
                                               class="help-block has-error text-red"
                                               th:if="${#fields.hasErrors('bmi')}" th:errors="*{bmi}">First
                                            Name Error</span>
                                    </div>
                                    <div>cm</div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-info">Save</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <div class="card-tools pull-right">
                            <div class="btn-group"></div>
                        </div>
                    </div>
                    <!-- /.card-footer-->
                </div>
                <!-- /.card -->

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>
</div>