
<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorate="admin-layout">

    <div layout:fragment = "main_content">

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->          
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1> Home Visit</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active"><a href="#">Home Visit</a></li>
                                <li class="breadcrumb-item active">
                                    Pending Mother List For Approval </li>
                            </ol>
                        </div>
                    </div>
                </div>

            </section>



            <!-- Main content -->
            <section class="content">

                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Pending Mother List For Approval Total [[${list.size()}]]</h3>
                        <div class="card-tools">
                            <!-- Buttons, labels, and many other things can be placed here! -->
                            <!-- Here is a label for example -->
                            <a  th:href="@{/}" type="button" class="btn btn-block btn-light text-red  btn-sm pull-right "> Close </i><i class="fas fa-times"></i></a>

                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive ">
                        <table id="tablesdata" class="table table-bordered">

                            <thead>
                                <tr>
                                    <th style="width: 10px">#</th>  

                                    <th>Home Visit Date</th>
                                    <th>Id</th>
                                    <th> Mother Name</th>
                                    <th>Date of Birth</th>
                                    <th>Number of Eligible Children</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>  
                            </thead>
                            <tbody>
                                <tr th:each="list,status:${list}">
                                    <td th:text="${status.count}">2.</td>
                                    <td th:text="${list.homeVisitDate}">Chakma</td>
                                    <td th:text="${list.motherMasterCode}">Chakma</td>
                                    <td th:text="${list.motherName}">Chakma</td>
                                    <td th:text="${list.dateOfBirth}">Chakma</td> 
                                    <td th:text="${list.numberOfEligibleChildren}">Chakma</td>
                                    <td th:text="${list.eligibility}">Chakma</td>
                                    <td> 
                                        <a   th:href="@{/m_approval/motherdetails/{id} (id=${list.id})}" type="button" class="btn btn-xs bg-maroon ">Approve</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <!-- /.card-body -->
                </div> 
            </section>
            <!-- /.content -->
        </div>
    </div>
</div>