<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorate="admin-layout">
    <div layout:fragment = "main_content">
        <!-- Content Wrapper. Contains page content -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1> Home Visit</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active"><a href="#"> New Children Insert</a></li>
                                <li class="breadcrumb-item active">
                                    <a href="#">    Children list</a></li>
                                <li class="breadcrumb-item active">
                                    Insert Children Information</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>
            <!-- Main content -->
            <section class="content">
                <!-- Default card -->
                <div class="card card-info">
                    <div class="card-header with-border">
                        <h3 class="card-title">Insert Children Information </h3>
                        <div class="card-tools pull-right">
                            <div class="btn-group">
                                <a  th:href="@{/childrendetails/index/{id}(id=${m_Child_info.motherMasterCode.id})}"  type="button" class="btn  btn-light text-red btn-xs">Close</a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <form  th:action="@{/childrendetails/save/{id}(id=${m_Child_info.motherMasterCode.id})}"  th:object="${m_Child_info}"  method="post" class="form-horizontal">
                            <div class="card-body">

                                <div class="alert alert-danger alert-dismissible" th:if="${#fields.hasErrors('*')}">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <h4><i class="icon fa fa-ban"></i> Error </h4>
                                    <ul th:if="${#fields.hasErrors('*')}">
                                        <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                                    </ul>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6 row">
                                        <input type="hidden"    class="form-control " th:field="*{id}" />
                                        <input type="hidden"  class="form-control  "  id="bookName"   th:field="*{motherMasterCode}"   />
                                        <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('motherMasterCode')}" th:errors="*{motherMasterCode}">First Name Error</span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-sm-6 row">
                                        <label for="name" class="col-sm-4 control-label">Mother's Name<span class="text-red"> * </span></label>
                                        <div class="col-sm-8">
                                            <input type="text"  class="form-control  "  id="bookName"  th:field="*{motherName}" name="motherName"  />
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('motherName')}" th:errors="*{motherName}">First Name Error</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6 row">
                                        <label for="name" class="col-sm-4 control-label"> Father's Name<span class="text-red"> * </span> </label>
                                        <div class="col-sm-8">
                                            <input type="text"  class="form-control  "  id="bookName"  th:field="*{fathersName}" name="fathersName"  />
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('fathersName')}" th:errors="*{fathersName}">First Name Error</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">


                                    <div class="form-group col-sm-6 row">
                                        <label for="name" class="col-sm-4 control-label">  Prime Family Member Name  <span class="text-red"> * </span> </label>
                                        <div class="col-sm-8">
                                            <input type="text"  class="form-control  "  id="bookName"  th:field="*{primeFamilyMemberName}" name="primeFamilyMemberName"  />
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('primeFamilyMemberName')}" th:errors="*{primeFamilyMemberName}">First Name Error</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6 row">
                                        <label for="name" class="col-sm-4 control-label"> Children ID<span class="text-red"> * </span> </label>
                                        <div class="col-sm-8">
                                            <input type="text"  class="form-control  "  id="bookName"   th:field="*{childMasterCode}"   />
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('childMasterCode')}" th:errors="*{childMasterCode}">First Name Error</span>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="form-group col-sm-6 row">
                                        <label for="name" class="col-sm-4 control-label">Children Name  <span class="text-red"> * </span> </label>
                                        <div class="col-sm-8">
                                            <input type="text"  class="form-control  "  id="bookName"  th:field="*{name}" name="name"  />
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">First Name Error</span>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-6 row">
                                        <label for="name" class="col-sm-4 control-label"> Date of Birth<span class="text-red"> * </span> </label>
                                        <div class="col-sm-8">
                                            <div class="input-group date" >
                                                <div class="input-group-addon" >
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input type="text"  class="form-control  " placeholder="dd/mm/yyyy"  id="dateOfBirth"  th:field="*{dateOfBirth}" name="dateOfBirth"  />
                                            </div>
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}">First Name Error</span>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="form-group col-sm-4 row">
                                        <label for="name" class="col-sm-6 control-label"> Gender<span class="text-red"> * </span> </label>
                                        <div class="col-sm-6">
                                            <select class="form-control  "  id="bookName"  th:field="*{gender}" name="gender" >
                                                <option value=" "> Select one</option>
                                                <option th:each =" gender :${gender}"
                                                        th:value=" ${gender}"
                                                        th:text="${gender}"> Select one</option>
                                            </select>

                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}">First Name Error</span>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-4 row">
                                        <label for="name" class="col-sm-6 control-label"> Work<span class="text-red"> * </span> </label>
                                        <div class="col-sm-6">
                                            <select class="form-control  "  id="bookName"  th:field="*{work}" name="work" >
                                                <option value=" "> Select one</option>
                                                <option th:each =" work :${work}"
                                                        th:value=" ${work}"
                                                        th:text="${work}"> Select one</option>
                                            </select>

                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('work')}" th:errors="*{work}">First Name Error</span>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-4 row">
                                        <label for="name" class="col-sm-6 control-label">Religion<span class="text-red"> * </span> </label>
                                        <div class="col-sm-6">
                                            <select class="form-control  "  id="bookName"  th:field="*{religion}" >
                                                <option value=" "> Select one</option>
                                                <option th:each =" religion :${religion}"
                                                        th:value=" ${religion.id}"
                                                        th:text="${religion.name}"> Select one</option>
                                            </select>

                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('religion')}" th:errors="*{religion}">First Name Error</span>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">


                                    <div class="form-group col-sm-3 row">
                                        <label for="name" class="col-sm-6 control-label"> Ethnic Identity<span class="text-red"> * </span> </label>
                                        <div class="col-sm-6">
                                            <select class="form-control  "  id="bookName"  th:field="*{ethnicIdentity}" name="ethnicIdentity" >
                                                <option value=" "> Select one</option>
                                                <option th:each =" ethnicIdentity :${ethnicIdentity}"
                                                        th:value=" ${ethnicIdentity.id}"
                                                        th:text="${ethnicIdentity.name}"> Select one</option>

                                            </select>

                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('ethnicIdentity')}" th:errors="*{ethnicIdentity}">First Name Error</span>
                                        </div>

                                    </div>
                                    <div class="form-group col-sm-3 row">
                                        <label for="name" class="col-sm-6 control-label"> Last Attended Education Year <span class="text-red"> * </span> </label>
                                        <div class="col-sm-6">
                                            <select class="form-control  "  id="bookName"  th:field="*{lastAttendEducationYear}" name="lastAttendEducationYear"  required="true">
                                                <option value=" "> Select one</option>

                                                <!-- Years 1971 to 2039 -->
                                                <option th:each="year : ${#numbers.sequence(1970, 2039)}"
                                                        th:value="${year}"
                                                        th:text="${year}">
                                                </option>

                                            </select>
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('lastAttendEducationYear')}" th:errors="*{lastAttendEducationYear}">First Name Error</span>
                                        </div>

                                    </div>


                                    <div class="form-group col-sm-3 row">
                                        <label for="name" class="col-sm-6 control-label"> Education Level <span class="text-red"> * </span> </label>
                                        <div class="col-sm-6">
                                            <select class="form-control  "  id="bookName"  th:field="*{educationLevel}" name="educationLevel" >
                                                <option value=" "> Select one</option>
                                                <option th:each =" educationLevel :${educationLevel}"
                                                        th:value=" ${educationLevel.id}"
                                                        th:text="${educationLevel.name}"> Select one</option>
                                            </select>
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('educationLevel')}" th:errors="*{educationLevel}">First Name Error</span>
                                        </div>

                                    </div>
                                    <div class="form-group col-sm-3 row">
                                        <label for="name" class="col-sm-6 control-label"> Education Type <span class="text-red"> * </span> </label>
                                        <div class="col-sm-6">
                                            <select class="form-control  "  id="bookName"  th:field="*{educationType}" name="educationType" >
                                                <option value=" "> Select one</option>
                                                <option th:each =" educationType :${educationType}"
                                                        th:value=" ${educationType.id}"
                                                        th:text="${educationType.name}"> Select one</option>

                                            </select>
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('educationType')}" th:errors="*{educationType}">First Name Error</span>
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-sm-6 row">
                                        <label for="name" class="col-sm-4 control-label"> Interested Skill Area<span class="text-red"> * </span> </label>
                                        <div class="col-sm-8">
                                            <textarea cols="6" rows="5"  th:field="*{interstedSkillArea}" class="form-control"  id = ""  maxlength="3950" > </textarea>

                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('interstedSkillArea')}" th:errors="*{interstedSkillArea}">First Name Error</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6 row">
                                        <label for="name" class="col-sm-4 control-label"> Behavior Emotion<span class="text-red"> * </span> </label>
                                        <div class="col-sm-8">

                                            <textarea cols="6" rows="5"  th:field="*{behavior_Emotion}" class="form-control"  id = ""  maxlength="3950" > </textarea>
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('behavior_Emotion')}" th:errors="*{behavior_Emotion}">First Name Error</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6 row">
                                        <label for="name" class="col-sm-4 control-label"> Physical Status<span class="text-red"> * </span> </label>
                                        <div class="col-sm-8">
                                            <textarea cols="6" rows="5"  th:field="*{physicalStatus}" class="form-control"  id = ""  maxlength="3950" > </textarea>

                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('physicalStatus')}" th:errors="*{physicalStatus}">First Name Error</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6 row">
                                        <label for="name" class="col-sm-4 control-label"> Immunization <span class="text-red"> * </span> </label>
                                        <div class="col-sm-8">

                                            <textarea cols="6" rows="5"  th:field="*{immunization}" class="form-control"  id = ""  maxlength="3950" > </textarea>
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('immunization')}" th:errors="*{immunization}">First Name Error</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">


                                </div>
                                <div class="row">
                                    <div class="form-group  col-sm-6 row">
                                        <label for="name" class="col-sm-3 control-label"> Major Findings </label>
                                        <div class="col-sm-9">
                                            <textarea cols="15" rows="15"  th:field="*{majorFindings}" class="form-control"  id = ""  maxlength="3950" onKeyUp="count_it()"> </textarea>
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('majorFindings')}" th:errors="*{majorFindings}">First Name Error</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6 row">
                                        <label for="name" class="col-sm-3 control-label"> Other Remarks </label>
                                        <div class="col-sm-9">
                                            <textarea cols="15" rows="15"  th:field="*{otherRemarks}" class="form-control"  id = ""  maxlength="3950" onKeyUp="count_it()"> </textarea>
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('otherRemarks')}" th:errors="*{otherRemarks}">First Name Error</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group row">
                                        <label for="name" class="col-sm-8 control-label"> Investigator recommendation <span class="text-red"> * </span> </label>
                                        <div class="col-sm-4">
                                            <select class="form-control  "  id="bookName"  th:field="*{eligibility}" name="eligibility" >
                                                <option value=" "> Select one</option>
                                                <option th:each =" eligibility :${eligibility}"
                                                        th:value=" ${eligibility}"
                                                        th:text="${eligibility}"> Select one</option>
                                            </select>
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('eligibility')}" th:errors="*{eligibility}">First Name Error</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="text-center">
                                    <button type="submit" class="btn btn-info btn-sm">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.card-body -->

                </div>
                <!-- /.card -->

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>
</div>