<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorate="admin-layout">
    <div layout:fragment = "main_content">
        <!-- Content Wrapper. Contains page content -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1> Home Visit</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active"> <a href="#">Mother Details</a></li>
                                <li class="breadcrumb-item active"> Add Mother current support or help </li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <!-- Default card -->
                <div class="card card-info">
                    <div class="card-header with-border">
                        <h3 class="card-title"><span th:text='${form_title}'>Add </span></h3>
                        <div class="card-tools pull-right">
                            <div class="btn-group">                 
                                <a  th:href="@{/motherdetails/motherdetails/{m_id}(m_id=${m_Current_Help.motherMasterCode.id})}"   type="button" class="btn btn-block btn-light text-red  btn-sm pull-right ">Close</a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <form  th:action="@{/m_current_help/save/{id}(id=${m_Current_Help.motherMasterCode.id})}"  th:object="${m_Current_Help}"  method="post" class="form-horizontal">
                            <div class="card-body">



                                <div class="row">
                                    <input type="hidden"    class="form-control " th:field="*{id}" />

                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('id')}" th:errors="*{id}">First Name Error</span>

                                    <input type="hidden"    class="form-control " th:field="*{motherMasterCode}"   />   
                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('motherMasterCode')}" th:errors="*{motherMasterCode}">First Name Error</span>
                                </div>  
                                <div class="row">
                                    <div class="form-group col-sm-6 row">


                                        <label for="co" class="col-sm-4 control-label">  Organizations <span class="text-red">*  </span> :</label>
                                        <div class="col-sm-6">                   
                                            <input type="text"  class="form-control  "  id="co"  th:field="*{organizations}" name="organizations"  />                
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('organizations')}" th:errors="*{organizations}">First Name Error</span>
                                        </div>                            

                                    </div>

                                    <div class="form-group col-sm-6 row">
                                        <label for="vill" class="col-sm-4 control-label">Help/Aid Type  <span class="text-red">*</span> :</label>
                                        <div class="col-sm-6">  
                                            <select class="form-control  "  id="bookName"  th:field="*{aidType}" name="aidType" >
                                                <option value=" "> Select one</option>
                                                <option th:each =" aidType :${aidType}"
                                                        th:value=" ${aidType.id}" 
                                                        th:text="${aidType.name}"> Select one</option>
                                            </select>                                                    
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('aidType')}" th:errors="*{aidType}">First Name Error</span>
                                        </div>               
                                    </div>
                                </div>
                                <div class="row">



                                    <div class="form-group col-sm-12 row">
                                        <label for="name" class="col-sm-2 control-label"> Remark<span class="text-red">  </span>: </label>
                                        <div class="col-sm-8">                   
                                            <textarea type="textarea" cols="60" rows="8" class="form-control  "  id="monthlyTotalIncome"    th:field="*{remarks}" > </textarea>         
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('remarks')}" th:errors="*{remarks}">First Name Error</span>
                                        </div>                            
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-info btn-sm">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <div class="card-tools pull-right">
                            <div class="btn-group">


                            </div>
                        </div>
                    </div>
                    <!-- /.card-footer-->
                </div>
                <!-- /.card -->

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>
</div>