<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorate="admin-layout">
    <div layout:fragment = "main_content">
        <!-- Content Wrapper. Contains page content -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1> Home Visit</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active"> <a href="#">Mother Details</a></li>
                                <li class="breadcrumb-item active"> Add Mother Nutrition </li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>
            <!-- Main content -->
            <section class="content">
                <!-- Default card -->
                <div class="card card-info">
                    <div class="card-header with-border">
                        <h3 class="card-title"> <span th:text='${form_title}'>Add </span></h3>
                        <div class="card-tools pull-right">
                            <div class="btn-group">                 
                                <a  th:href="@{/motherdetails/motherdetails/{m_id}(m_id=${m_Nutrition.motherMasterCode.id})}"  type="button" 
                                    class="btn btn-block btn-light text-red  btn-sm pull-right ">Close</a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <form  th:action="@{/m_nutrition/save/{m_id}(m_id=${m_Nutrition.motherMasterCode.id})}"   th:object="${m_Nutrition}"  method="post" class="form-horizontal">
                            <div class="card-body">

                                <div class="row">
                                    <input type="hidden"    class="form-control " th:field="*{id}" />
                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('id')}" th:errors="*{id}">First Name Error</span>
                                    <input type="hidden"    class="form-control " th:field="*{motherMasterCode}"   />   
                                    <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('motherMasterCode')}" th:errors="*{motherMasterCode}">First Name Error</span>
                                </div> 

                                <div class="row">
                                    <div class="form-group col-sm-6 row">
                                        <label for="name" class="col-sm-3 control-label"> Daily Meal<span class="text-red"> * </span> :</label>
                                        <div class="col-sm-6">                   
                                            <select class="form-control  "  id="bookName"  th:field="*{dailyMeal}" name="dailyMeal" >
                                                <option value=" "> Select one</option>
                                                <option th:each =" dailyMeal :${dailyMeal}"
                                                        th:value=" ${dailyMeal}" 
                                                        th:text="${dailyMeal}"> Select one</option>
                                            </select>
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('dailyMeal')}" th:errors="*{dailyMeal}">First Name Error</span>
                                        </div>                            
                                    </div>                                 
                                    <div class="form-group col-sm-4 row">
                                        <label for="name" class="col-sm-3 control-label">Fish<span class="text-red"> </span> :</label>
                                        <div class="col-sm-6 row">                   
                                            <select class="form-control  "  id="bookName"  th:field="*{fish}"  >

                                                <option th:each =" nutritionsTrems :${nutritionsTrems}"
                                                        th:value=" ${nutritionsTrems}" 
                                                        th:text="${nutritionsTrems}"> Select one</option>
                                            </select>
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('fish')}" th:errors="*{fish}">First Name Error</span>
                                        </div>                            
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-4 row">
                                        <label for="name" class="col-sm-3 control-label"> Meat<span class="text-red"> </span> :</label>
                                        <div class="col-sm-6">                   
                                            <select class="form-control  "  id="bookName"  th:field="*{meat}" name="meat" >

                                                <option th:each =" nutritionsTrems :${nutritionsTrems}"
                                                        th:value=" ${nutritionsTrems}" 
                                                        th:text="${nutritionsTrems}"> Select one</option>
                                            </select>
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('dailyMeal')}" th:errors="*{dailyMeal}">First Name Error</span>
                                        </div>                            
                                    </div>

                                    <div class="form-group col-sm-4 row">
                                        <label for="name" class="col-sm-3 control-label"> Milk<span class="text-red">  </span> :</label>
                                        <div class="col-sm-6">                   
                                            <select class="form-control  "  id="bookName"  th:field="*{fish}" name="fish" >

                                                <option th:each =" nutritionsTrems :${nutritionsTrems}"
                                                        th:value=" ${nutritionsTrems}" 
                                                        th:text="${nutritionsTrems}"> Select one</option>
                                            </select>
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('milk')}" th:errors="*{milk}">First Name Error</span>
                                        </div>                            
                                    </div>

                                    <div class="form-group col-sm-4 row">
                                        <label for="name" class="col-sm-3 control-label"> fruits<span class="text-red">  </span> :</label>
                                        <div class="col-sm-6">                   
                                            <select class="form-control  "  id="bookName"  th:field="*{fruits}" name="fruits" >

                                                <option th:each =" nutritionsTrems :${nutritionsTrems}"
                                                        th:value=" ${nutritionsTrems}" 
                                                        th:text="${nutritionsTrems}"> Select one</option>
                                            </select>
                                            <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('fruits')}" th:errors="*{fruits}">First Name Error</span>
                                        </div>                            
                                    </div>

                                </div>
                                <div class="form-group col-sm-12">
                                    <label for="name" class="col-sm-2 control-label"> Remark<span class="text-red">  </span>: </label>
                                    <div class="col-sm-8">                   
                                        <textarea type="textarea" cols="60" rows="8" class="form-control  "  id="monthlyTotalIncome"    th:field="*{remarks}" > </textarea>         
                                        <span  class="help-block has-error text-red" th:if="${#fields.hasErrors('remarks')}" th:errors="*{remarks}">First Name Error</span>
                                    </div>                            
                                </div>



                                <div class="text-center">
                                    <button type="submit" class="btn btn-info btn-sm">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <div class="card-tools pull-right">
                            <div class="btn-group">


                            </div>
                        </div>
                    </div>
                    <!-- /.card-footer-->
                </div>
                <!-- /.card -->

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>
</div>